@tailwind base;
@tailwind components;
@tailwind utilities;

/* ------------------ RESPONSIVE DISPLAY SCALING ------------------- */
/* Large Desktop - 1440px+ */
:root {
	--guide-count: 12;
	--guide-type: center;
	--guide-grid-width: auto;
	--guide-width: 72px;
	--guide-margin: 0px;
	--guide-gutter: 24px;
	--guide-true-width: var(--guide-width);
	--guide-true-margin: calc((100% - var(--full-w)) / 2);

	--full-w: calc(
		(var(--guide-true-width) * var(--guide-count)) +
			(var(--guide-gutter) * (var(--guide-count) - 1))
	);
	--half-w: calc(
		(var(--guide-true-width) * (var(--guide-count) / 2)) +
			(var(--guide-gutter) * ((var(--guide-count) / 2) - 1))
	);
	--two-thirds-w: calc((var(--third-w) * 2) + var(--guide-gutter));
	--quarter-w: calc(
		(var(--guide-true-width) * (var(--guide-count) / 4)) +
			(var(--guide-gutter) * ((var(--guide-count) / 4) - 1))
	);
	--quarter-w: calc(
		(var(--guide-true-width) * (var(--guide-count) / 4)) +
			(var(--guide-gutter) * ((var(--guide-count) / 4) - 1))
	);
	--third-w: calc(
		(var(--guide-true-width) * (var(--guide-count) / 3)) +
			(var(--guide-gutter) * ((var(--guide-count) / 3) - 1))
	);

	--one-w: calc(var(--guide-true-width) * 1);
	--two-w: calc((var(--guide-true-width) * 2) + var(--guide-gutter));
	--three-w: calc((var(--guide-true-width) * 3) + (var(--guide-gutter) * 2));
	--four-w: calc((var(--guide-true-width) * 4) + (var(--guide-gutter) * 3));
	--five-w: calc((var(--guide-true-width) * 5) + (var(--guide-gutter) * 4));
	--six-w: calc((var(--guide-true-width) * 6) + (var(--guide-gutter) * 5));
	--seven-w: calc((var(--guide-true-width) * 7) + (var(--guide-gutter) * 6));
}

/* Medium Desktop - 905px-1439px */
@media screen and (min-width: 905px) and (max-width: 1439px) {
	:root {
		--guide-count: 12;
		--guide-type: stretch;
		--guide-grid-width: 100%;
		--guide-width: auto;
		--guide-margin: 48px;
		--guide-gutter: 24px;
		--guide-true-width: calc(
			(
					(
							100dvw -
								(var(--guide-gutter) * (var(--guide-count) - 1))
						) -
						(var(--guide-margin) * 2)
				) /
				var(--guide-count)
		);
	}
}

/* Tablet - 600-904px */
@media screen and (min-width: 600px) and (max-width: 904px) {
	:root {
		--guide-count: 8;
		--guide-type: stretch;
		--guide-grid-width: 100%;
		--guide-width: auto;
		--guide-margin: 24px;
		--guide-gutter: 24px;
		--guide-true-width: calc(
			(
					(
							100dvw -
								(var(--guide-gutter) * (var(--guide-count) - 1))
						) -
						(var(--guide-margin) * 2)
				) /
				var(--guide-count)
		);
	}
}

/* Mobile - 0-599px */
@media screen and (max-width: 599px) {
	:root {
		--guide-count: 4;
		--guide-type: stretch;
		--guide-grid-width: 100%;
		--guide-width: auto;
		--guide-margin: 16px;
		--guide-gutter: 16px;
		--guide-true-width: calc(
			(
					(
							100dvw -
								(var(--guide-gutter) * (var(--guide-count) - 1))
						) -
						(var(--guide-margin) * 2)
				) /
				var(--guide-count)
		);
	}
}
/* ----------------------------------------------------------------- */

/* ----------------------- SCROLLBAR STYLES ------------------------ */
::-webkit-scrollbar {
	width: 5px;
}
::-webkit-scrollbar-track {
	background: transparent;
}
::-webkit-scrollbar-thumb {
	background-color: oklch(var(--foreground) / 0.2);
	border-radius: 100px;
}
::-webkit-scrollbar-thumb:hover {
	background-color: oklch(var(--foreground));
}

* {
	scrollbar-width: thin;
	scrollbar-color: oklch(var(--foreground) / 0.2) transparent;
}
/* ----------------------------------------------------------------- */

/* ---------------------------- FONTS ------------------------------ */
@font-face {
	font-family: Fluent;
	font-style: normal;
	font-weight: 100 400;
	font-display: swap;
	src: url("/fonts/Fluent-Regular.woff2") format("woff2");
}

@font-face {
	font-family: Fluent;
	font-style: normal;
	font-weight: 500 900;
	font-display: swap;
	src: url("/fonts/Fluent-Bold.woff2") format("woff2");
}

@font-face {
	font-family: Fluent;
	font-style: italic;
	font-weight: 100 400;
	font-display: swap;
	src: url("/fonts/Fluent-RegularItalic.woff2") format("woff2");
}

@font-face {
	font-family: Fluent;
	font-style: italic;
	font-weight: 500 900;
	font-display: swap;
	src: url("/fonts/Fluent-BoldItalic.woff2") format("woff2");
}

@font-face {
	font-family: JetBrainsMono;
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url("/fonts/JetBrainsMonoVariable.woff2") format("woff2");
}

@font-face {
	font-family: JetBrainsMono;
	font-style: italic;
	font-weight: 100 900;
	font-display: swap;
	src: url("/fonts/JetBrainsMonoVariable-Italic.woff2") format("woff2");
}
/* ----------------------------------------------------------------- */

/* ----------------------- GLOBAL VARIABLES ------------------------ */
@layer base {
	:root {
		--header-padding: 10rem;
		--nav-height: 5rem;
		--header-nav-diff: var(--guide-gutter);
		--header-height: calc((var(--header-nav-diff) * 2) + var(--nav-height));
		--footer-height: 8rem;
		--article-width: 80ch;
		--page-height: calc(
			100vh -
				(
					var(--header-height) + var(--header-padding) +
						var(--footer-height)
				)
		);
		--radius: 0.5rem;

		/* --theme-lightness-light: 98%;
		--theme-lightness-dark: 15%;
		--theme-chroma: 1%;
		--theme-hue: 48; */

		--theme-lightness-light: 0.95;
		--theme-lightness-dark: 0.15;
		--theme-chroma: 0.01;
		--theme-hue: 48;

		--theme-contrast-light: -0.02;
		--theme-contrast-dark: 0.03;

		--light-bg: var(--theme-lightness-light) var(--theme-chroma)
			var(--theme-hue);
		--dark-bg: var(--theme-lightness-dark) var(--theme-chroma)
			var(--theme-hue);

		--background-alt: calc(var(--theme-lightness) + var(--theme-contrast))
			var(--theme-chroma) var(--theme-hue);

		--card: calc(var(--theme-lightness) + var(--theme-contrast))
			var(--theme-chroma) var(--theme-hue);

		--card-gradient: calc(
				var(--theme-lightness) + (10 * var(--theme-contrast))
			)
			var(--theme-chroma) var(--theme-hue);

		--card-border: calc(
				var(--theme-lightness) + (3 * var(--theme-contrast))
			)
			var(--theme-chroma) var(--theme-hue);

		/* --card-light: oklch(20 9.1% 97.8%);
		--card-dark: oklch(20 14.3% 4.5%); */

		--tag-border-opacity: 0.5;
		--tag-bg-opacity: 0.15;

		--tag-html: 66% 45% 41;
		--tag-css: 55% 53% 263;
		--tag-javascript: 88% 39% 100;
		--tag-astro: 61% 51% 6;
		--tag-tailwind: 85% 33% 198;
		--tag-react: 82% 36% 216;
		--tag-sql: 78% 36% 53;
		--tag-csharp: 39% 54% 288;
		--tag-dotnet: 48% 57% 284;
		--tag-azure-cosmos: 62% 30% 250;
		--tag-angular: 51% 52% 21;
		--tag-supabase: 77% 38% 160;
	}

	:root[data-theme="dark"] {
		/* --background: 20 14.3% 4.5%;
		--foreground: 60 9.1% 97.8%; */

		--theme-lightness: var(--theme-lightness-dark);
		--theme-contrast: var(--theme-contrast-dark);

		--shade-background: 0.33;
		--shade-foreground: 0.8;

		--background: var(--theme-lightness) var(--theme-chroma)
			var(--theme-hue);
		--foreground: var(--theme-lightness-light) var(--theme-chroma)
			var(--theme-hue);

		--header: color-mix(
			in oklch,
			oklch(var(--foreground) / 0.05),
			oklch(var(--background) / 1)
		);

		/* var(--theme-lightness) var(--theme-chroma) var(--theme-hue);
        var(--theme-lightness-light) var(--theme-chroma) var(--theme-hue); */

		/* --css-background: var(--theme-hue), var(--theme-saturation),
			var(--theme-darkness);
		--css-foreground: var(--theme-hue), var(--theme-saturation),
			var(--theme-lightness); */

		--popover: var(--theme-hue) var(--theme-saturation)
			var(--theme-darkness);
		--popover-foreground: var(--theme-hue) 9.1% var(--theme-lightness);
		--primary: var(--theme-hue) 9.1% var(--theme-lightness);
		--primary-foreground: 24 9.8% 10%;
		--secondary: 12 6.5% 15.1%;
		--secondary-foreground: var(--theme-hue) 9.1% var(--theme-lightness);
		--muted: var(--theme-hue) 6.5% 15.1%;
		--muted-foreground: var(--theme-hue) 5.4% 63.9%;
		--destructive: 1 62.8% 30.6%;
		--destructive-foreground: 1 9.1% var(--theme-lightness);
		--border: var(--theme-hue) 6.5% 15.1%;
		--input: var(--theme-hue) 6.5% 15.1%;
		--ring: var(--theme-hue) 5.7% 82.9%;

		/* --shadow-col: var(--background); */

		--light-img-opacity: 0;
		--dark-img-opacity: 1;

		/* --card-saturate: 80%;
		--card-sepia: 0%;
		--card-brightness: 250%;
		--card-contrast: 100%;
		--card-hue: 90deg; */

		/* --shiki: var(--shiki-dark) !important;
		--shiki-bg: var(--shiki-dark-bg) !important;
		--shiki-font-style: var(--shiki-dark-font-style) !important;
		--shiki-weight: var(--shiki-dark-font-weight) !important;
		--shiki-decoration: var(--shiki-dark-text-decoration) !important; */
	}

	:root[data-theme="light"] {
		--theme-lightness: var(--theme-lightness-light);
		--theme-contrast: var(--theme-contrast-light);

		--shade-background: 0.85;
		--shade-foreground: 0.5;

		--background: var(--theme-lightness) var(--theme-chroma)
			var(--theme-hue);
		--foreground: var(--theme-lightness-dark) var(--theme-chroma)
			var(--theme-hue);

		--header: color-mix(
			in oklch,
			oklch(var(--foreground) / 0.05),
			oklch(var(--background) / 1)
		);

		/* --css-background: var(--theme-hue), var(--theme-saturation),
			var(--theme-lightness);
		--css-foreground: var(--theme-hue), var(--theme-saturation),
			var(--theme-darkness); */

		--card-solid: 19 8% 92%;
		--popover: var(--theme-hue) 0% 100%;
		--popover-foreground: var(--theme-hue) var(--theme-saturation)
			var(--theme-darkness);
		--primary: var(--theme-hue) 9.8% 10%;
		--primary-foreground: var(--theme-hue) 9.1% var(--theme-lightness);
		--secondary: var(--theme-hue) 4.8% var(--theme-lightness);
		--secondary-foreground: var(--theme-hue) 9.8% 10%;
		--muted: var(--theme-hue) 4.8% 95.9%;
		--muted-foreground: var(--theme-hue) 5.3% 44.7%;
		--destructive: 1 84.2% 60.2%;
		--destructive-foreground: 1 9.1% var(--theme-lightness);
		--border: var(--theme-hue) 5.9% var(--theme-lightness);
		--input: var(--theme-hue) 5.9% var(--theme-lightness);
		--ring: var(--theme-hue) var(--theme-saturation) var(--theme-darkness);

		--light-img-opacity: 1;
		--dark-img-opacity: 0;

		/* --card-saturate: 50%;
		--card-brightness: 88%;
		--card-contrast: 200%;
		--card-hue: 90deg; */

		/* --shiki: var(--shiki-light) !important;
		--shiki-bg: var(--shiki-light-bg) !important;
		--shiki-font-style: var(--shiki-light-font-style) !important;
		--shiki-weight: var(--shiki-light-font-weight) !important;
		--shiki-decoration: var(--shiki-light-text-decoration) !important; */
	}
}
/* ----------------------------------------------------------------- */

/* ------------------------ GLOBAL STYLES -------------------------- */
@layer base {
	:root {
		--accent: var(--foreground);
		--accent-gradient: var(--background);

		@apply scroll-smooth font-sans;

		transition:
			background-color 250ms ease-in-out,
			color 250ms ease-in-out,
			opacity 500ms ease-in-out !important;
	}

	@supports (font-variation-settings: normal) {
		:root {
			font-optical-sizing: auto;
		}
	}

	*,
	*::before,
	*::after {
		@apply m-0 box-border p-0;
	}

	body {
		@apply bg-background text-foreground transition-colors duration-200 ease-in-out;
	}

	a {
		cursor: pointer;
	}

	img {
		@apply max-w-none;
	}

	.dark-icon,
	.light-icon {
		@apply hidden;
	}

	:root[data-theme="light"] .light-icon {
		@apply inline-block;
	}

	:root[data-theme="dark"] .dark-icon {
		@apply inline-block;
	}

	.card,
	.card-alt {
		--accent: var(--foreground);
		--accent-border: oklch(var(--foreground) / 0.025);
		--accent-border-glow: oklch(var(--accent) / 0.75);
		--accent-bg-glow: oklch(var(--accent) / 0.135);
		--accent-foreground: from oklch(var(--accent)) var(--shade-foreground) c
			h;
		--accent-background: from oklch(var(--accent)) var(--shade-background) c
			h;

		@apply relative w-full rounded-lg bg-[oklch(var(--card))] shadow-2xl shadow-transparent transition-all duration-300 ease-in-out hover:shadow-[oklch(var(--accent-foreground)/0.075)];
	}

	.card::before {
		content: "";
		mask-image: radial-gradient(
			circle at 100% 100%,
			rgba(0, 0, 0, 1) -200%,
			rgba(0, 0, 0, 0) 50%
		);

		@apply absolute left-0 top-0 h-full w-full rounded-lg bg-[oklch(var(--card-gradient))] transition-colors duration-500 ease-in-out hover:bg-accent;
	}

	.card-alt::before {
		content: "";
		mask-image: radial-gradient(
			circle at 100% 100%,
			rgba(0, 0, 0, 1) -200%,
			rgba(0, 0, 0, 0) 50%
		);

		@apply absolute left-0 top-0 h-full w-full rounded-lg bg-[oklch(var(--card-gradient))] transition-colors duration-500 ease-in-out hover:bg-accent;
	}

	/* .card::after,
	.card-alt::after {
		content: "";
		background: linear-gradient(
				-45deg,
				oklch(var(--card-border)) 0%,
				oklch(var(--card-border) / 0) 40%,
				oklch(var(--card-border) / 0) 60%,
				oklch(var(--card-border)) 100%
			)
			border-box;
		mask:
			linear-gradient(#fff 0 0) padding-box,
			linear-gradient(#fff 0 0);
		mask-composite: exclude;

		@apply pointer-events-none absolute inset-0 rounded-lg border border-transparent opacity-100 transition-opacity duration-300 ease-in-out;
	} */

	.card-accent {
		/* background: radial-gradient(
			circle at 100% 100%,
			oklch(var(--accent)) -300%,
			transparent 50%
		); */

		@apply absolute left-0 top-0 z-10 h-full w-full rounded-lg transition-all duration-500 ease-in-out;
	}

	.card-accent-alt {
		@apply absolute left-0 top-0 z-10 h-full w-full rounded-lg transition-all duration-500 ease-in-out;
	}

	.card-accent::after,
	.card-accent-alt::after {
		content: "";
		background: radial-gradient(
				200px circle at var(--mouse-x) var(--mouse-y),
				var(--accent-border-glow) 0%,
				transparent 100%
			)
			border-box;
		mask:
			linear-gradient(#fff 0 0) padding-box,
			linear-gradient(#fff 0 0);
		mask-composite: exclude;

		@apply absolute inset-0 z-20 w-full rounded-lg border border-transparent opacity-0 transition-opacity duration-300 ease-in-out;
	}

	.card:hover > .card-accent::after,
	.card-alt:hover > .card-accent-alt::after {
		@apply opacity-100;
	}

	.card-accent::before {
		content: "";
		transition:
			opacity 500ms ease-in-out,
			background-color 300ms ease-in-out;
		mask: radial-gradient(
			500px circle at var(--mouse-x) var(--mouse-y),
			rgb(39, 26, 26) 0%,
			rgba(0, 0, 0, 0) 50%
		);

		@apply absolute left-0 top-0 h-full w-full rounded-[inherit] bg-[var(--accent-bg-glow)] opacity-0;
	}

	.card-accent-alt::before {
		content: "";
		background: radial-gradient(
			700px circle at var(--mouse-x) var(--mouse-y),
			var(--accent-bg-glow) 0%,
			transparent 50%
		);

		@apply absolute left-0 top-0 h-full w-full rounded-[inherit] opacity-0 transition-all duration-500 ease-in-out;
	}

	.card:hover .card-accent::before,
	.card-alt:hover .card-accent-alt::before {
		@apply opacity-50;
	}

	.card:has(a:hover) .card-accent::before,
	.card-alt:has(a:hover) .card-accent-alt::before {
		@apply opacity-100;
	}
}

@layer components {
	.nav-button a {
		@apply inline-flex h-12 w-max place-items-center rounded-[var(--radius)] bg-transparent px-4 py-2 font-mono text-sm uppercase tracking-wider hover:bg-[oklch(var(--foreground)/0)] focus:bg-[oklch(var(--foreground)/0.1)] focus:text-foreground focus:outline-none disabled:pointer-events-none disabled:opacity-50;
	}

	.active-link {
		background-color: oklch(var(--foreground) / 0.07) !important;
	}

	#nav-footer {
		border-radius: var(--radius) !important;
	}
}
/* ----------------------------------------------------------------- */

/* ------------------------ IMAGE SKELETONS ------------------------ */
div[data-loaded] {
	@apply skeleton;
}

.skeleton {
	position: relative;
}

.skeleton::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: linear-gradient(
		90deg,
		oklch(var(--foreground) / 0.1) 25%,
		oklch(var(--foreground) / 0.2) 45%,
		oklch(var(--foreground) / 0.2) 55%,
		oklch(var(--foreground) / 0.1) 75%
	);
	background-size: 200%;
	animation:
		sweep 1s linear infinite,
		pause 1s infinite;
	animation-timing-function: linear, steps(1);
	opacity: 1;
}

@keyframes sweep {
	0% {
		background-position: -50% 50%;
	}

	75% {
		background-position: 150% 50%;
	}

	100% {
		background-position: 150% 50%;
	}
}

.skeleton::before[data-loaded="true"] {
	@apply opacity-0;
}
/* ----------------------------------------------------------------- */

/* ------------------------ BLOG POST STYLES ----------------------- */
.blog-post {
	@apply flex justify-self-center sm:max-w-[var(--full-w)] sm:flex-row sm:gap-[calc(var(--guide-gutter)*1)] md:max-w-none md:flex-col md:gap-[calc(var(--guide-gutter)*0.9)];
}

.blog-post[data-type="featured"] {
	@apply flex-row gap-[var(--guide-gutter)] sm:col-span-1 md:col-span-2 lg:col-span-3;
}

.blog-post:has(a:hover)::before {
	@apply opacity-100 duration-300;
}

.blog-post[data-type="featured"] a:has(.blog-post-img) {
	@apply w-min rounded-l-lg rounded-r-none shadow-2xl shadow-transparent transition-all duration-300;
}

a:has(.blog-post-img) {
	@apply w-min shadow-2xl shadow-transparent transition-all duration-300 sm:m-0 sm:h-auto sm:rounded-l-lg md:mb-0 md:ml-0 md:mt-0 md:w-auto md:rounded-b-none md:rounded-t-lg;
}

.blog-post[data-type="featured"] .blog-post-img {
	@apply rounded-[inherit] sm:h-full sm:min-h-[var(--half-w)] sm:w-[calc(var(--half-w))] md:max-h-none lg:min-h-[var(--five-w)];
}

.blog-post-img {
	@apply pointer-events-none overflow-hidden rounded-[inherit] sm:h-full sm:w-[calc(var(--one-w)-1px)] md:h-[calc(var(--two-w)-1px)] md:max-h-36 md:w-full;
}

.blog-post-img img {
	@apply absolute left-0 top-0 h-full max-h-full w-full rounded-[inherit] object-cover transition-all duration-500 ease-in-out sm:saturate-100 md:saturate-[0.8];
}

.blog-post:hover img {
	@apply saturate-[1.1];
}

.blog-post-accent {
	@apply card-accent;
}

.blog-post[data-type="featured"] .blog-post-content {
	@apply justify-center pl-0;
}

.blog-post-content {
	@apply z-20 flex h-full w-full flex-col place-content-start content-center justify-between sm:pl-0 sm:pr-[calc(var(--guide-gutter)*1)] md:pl-[var(--guide-gutter)] md:pr-[var(--guide-gutter)];
}

.blog-post-content * {
	@apply max-w-full;
}

.blog-post[data-type="featured"] .blog-post-featured {
	@apply block h-min max-w-full place-content-start pb-[calc(var(--guide-gutter)*0.25)] pt-[var(--guide-gutter)] font-mono uppercase tracking-widest text-[oklch(var(--foreground)/0.5)] sm:text-2xs md:text-xs lg:text-sm;
}

.blog-post-featured {
	@apply hidden;
}

.blog-post[data-type="featured"] .blog-post-title {
	@apply mb-[calc(var(--guide-gutter)*0.4)] sm:mt-[calc(var(--guide-gutter)*0.1)] sm:text-2xl sm:leading-[1.25] md:text-4xl md:leading-[1.15];
}

.blog-post-title {
	@apply mb-[calc(var(--guide-gutter)*0.25)] inline h-min w-fit text-pretty font-semibold tracking-tight text-[oklch(var(--foreground)/0.85)] transition-colors duration-150 hover:text-foreground sm:mt-[calc(var(--guide-gutter)*1)] sm:text-xl sm:leading-[1.25] md:mt-0 md:text-2xl;
}

.blog-post-date {
	@apply h-min w-auto transform-none place-content-start pr-4 pt-0 font-mono font-semibold uppercase tracking-widest text-[oklch(var(--foreground)/0.5)] transition-colors duration-500 ease-in-out sm:pb-[calc(var(--guide-gutter)*0.75)] sm:text-3xs md:pb-[calc(var(--guide-gutter)*0.5)] md:text-2xs;
}

.blog-post:hover .blog-post-date {
	@apply text-[oklch(var(--accent)/0.8)];
}

.blog-post[data-type="featured"] .blog-post-description {
	@apply line-clamp-3 pr-[var(--guide-gutter)] sm:text-xs md:text-sm;
}

.blog-post-description {
	@apply h-min w-auto place-content-start text-pretty text-sm leading-[1.4] text-[oklch(var(--foreground)/0.6)] sm:mb-[var(--guide-gutter)] sm:hidden sm:pr-[calc(var(--guide-gutter)*2.5)] md:sm:pr-[calc(var(--guide-gutter)*1)] md:mb-[calc(var(--guide-gutter)*1)] md:line-clamp-3;
}

.blog-post[data-type="featured"] .blog-post-tags {
	@apply flex-grow-0 sm:mb-[calc(var(--guide-gutter)*1)] sm:flex;
}

.blog-post-tags {
	@apply mb-[calc(var(--guide-gutter)*1)] flex h-min w-full flex-1 flex-row flex-wrap-reverse place-content-end justify-start gap-1 pr-[calc(var(--guide-gutter)*2)];
}

.blog-post-tag {
	@apply cursor-pointer place-self-end overflow-hidden whitespace-nowrap rounded-[250px] bg-[oklch(var(--foreground)/0.05)] px-2.5 py-0.5 font-mono font-normal uppercase tracking-wider text-[oklch(var(--foreground)/0.4)] backdrop-blur-xl transition-all duration-300 sm:text-3xs md:text-2xs;
}

.blog-post:hover .blog-post-tag {
	@apply bg-[oklch(var(--accent)/0.1)];
}

.blog-post:hover .blog-post-tag:hover {
	@apply bg-[oklch(var(--accent-background))] text-[oklch(var(--accent-foreground))];
}

.blog-post-arrow-link {
	@apply absolute bottom-[calc(var(--guide-gutter)*0.75)] right-[var(--guide-gutter)] place-self-end;
}

.blog-post-arrow {
	@apply nav-btn h-5 !fill-[oklch(var(--foreground)/0.25)] hover:!fill-[oklch(var(--accent-foreground))];
}

.inline-back-arrow {
	@apply nav-btn mb-[4px] mr-[calc(var(--guide-gutter)/2)] h-5;
}

.tag-close-button {
	@apply nav-btn mb-[2px] ml-[2px] h-4 fill-none stroke-[oklch(var(--foreground)/0.5)] hover:stroke-red-600;
}

.nav-btn {
	@apply inline-block w-auto fill-[oklch(var(--foreground)/0.5)] transition-all duration-200 ease-in-out hover:fill-foreground;
}
/* ----------------------------------------------------------------- */

/* ------------------------ BLOG PAGE STYLES ----------------------- */
.blog-page {
	@apply relative flex w-[var(--full-w)] flex-col place-items-center content-start gap-[var(--guide-gutter)] place-self-center rounded-[var(--radius)];

	--accent-foreground: from oklch(var(--accent)) var(--shade-foreground) c h;
	--accent-background: from oklch(var(--accent)) var(--shade-background) c h;
}

.blog-page-img {
	@apply absolute left-0 top-0 w-full rounded-[inherit] transition-all duration-500 ease-in-out sm:h-[var(--three-w)] md:h-[var(--five-w)];
}

body.scrolled .blog-page-img {
	@apply opacity-0;
}

.blog-page-img img {
	@apply w-full rounded-lg object-cover sm:h-0 lg:h-full;
}

/* .blog-page-img img {
	@apply absolute top-0 left-0 object-cover w-full h-full max-h-full rounded-[inherit] transition-all duration-500 ease-in-out;
} */

.blog-page-content {
	--details-width: 50%;
	@apply grid max-w-full transition-all duration-300 ease-in-out sm:grid-cols-1 sm:gap-[calc(var(--guide-gutter)*1)] sm:pt-0 lg:grid-cols-[minmax(var(--details-width),1fr)_auto] lg:gap-[calc(var(--guide-gutter)*2)] lg:pt-[calc(var(--five-w)+var(--guide-gutter))];
}

body.scrolled .blog-page-content {
	--details-width: 330px;
}

.blog-page-panel {
	@apply flex h-min flex-col gap-0 transition-all duration-500 ease-in-out sm:relative sm:top-0 lg:sticky lg:top-[calc(var(--nav-height)+(var(--guide-gutter)*1.5))];
}

body.scrolled .blog-page-panel {
	@apply lg:gap-[calc(var(--guide-gutter)*0.5)];
}

.blog-page-card {
	@apply card relative flex h-min flex-col overflow-hidden transition-all duration-500 ease-in-out sm:w-[var(--full-w)] lg:w-full lg:bg-transparent;
}

body.scrolled .blog-page-card {
	@apply lg:card;
}

.blog-page-card:hover {
	@apply shadow-transparent lg:border-transparent;
}

body:not(.scrolled) .blog-page-card:hover > .card-accent::after {
    @apply lg:opacity-0;
}

body:not(.scrolled) .blog-page-card:hover > .card-accent::before {
    @apply lg:opacity-0;
}

.blog-page-card::before {
    --card-gradient: var(--accent);
	@apply transition-opacity duration-500 ease-in-out sm:opacity-100 lg:opacity-0;
}

body.scrolled .blog-page-card::before {
	@apply opacity-100;
}

.blog-page-card::after {
	@apply transition-all duration-500 ease-in-out sm:opacity-100 lg:border-transparent lg:opacity-0;
}

body.scrolled .blog-page-card::after {
	@apply opacity-100;
}

.blog-page-card:hover::before {
	@apply sm:opacity-100 lg:opacity-0;
}

.blog-page-card:has(a:hover)::before {
	@apply duration-300 sm:opacity-100 lg:opacity-0;
}

body.scrolled .blog-page-card:has(a:hover)::before {
	@apply opacity-100 duration-300;
}

.blog-page-accent {
	@apply transition-all duration-500 ease-in-out;
}

.blog-page-accent::before {
    @apply transition-all duration-500 ease-in-out;
}

.blog-page-card-img {
	@apply h-auto w-full rounded-[inherit] transition-all duration-500 ease-in-out;
}

.blog-page-card-img img {
	@apply w-full rounded-t-lg object-cover transition-all duration-500 ease-in-out sm:h-[var(--two-w)] md:sm:h-[var(--three-w)] lg:h-0;
}

body.scrolled .blog-page-card-img img {
	@apply sm:h-[var(--two-w)] md:sm:h-[var(--three-w)] lg:h-24;
}

.blog-page-title {
	@apply z-20 inline-block w-auto transform-none text-pretty px-[var(--guide-gutter)] pt-[var(--guide-gutter)] font-semibold tracking-tight text-[oklch(var(--foreground)/0.9)] transition-all duration-500 ease-in-out sm:mb-0 sm:text-left sm:text-3xl sm:leading-3xl md:mb-1 md:text-4xl md:leading-[1] lg:text-right lg:text-5xl;
}

body.scrolled .blog-page-title {
	@apply sm:text-3xl sm:leading-3xl md:text-4xl md:leading-[1] lg:text-3xl;
}

.blog-page-date {
	padding-right: var(--guide-gutter) !important;

	@apply z-20 my-2 w-auto px-[calc(var(--guide-gutter))] font-mono font-semibold uppercase tracking-widest text-[oklch(var(--accent-foreground)/0.8)] transition-colors duration-200 ease-in-out sm:pb-[calc(var(--guide-gutter)*0.75)] sm:text-left sm:text-3xs md:pb-[calc(var(--guide-gutter)*0.5)] md:text-2xs lg:text-right;
}

.blog-page-tags {
	@apply z-20 flex w-auto flex-wrap place-content-end gap-1 px-[var(--guide-gutter)] pb-[var(--guide-gutter)] sm:justify-start lg:justify-end;
}

.blog-page-tags * {
	@apply bg-[oklch(var(--accent-foreground)/0.1)];
}

.blog-page-tags *:hover {
	@apply bg-[oklch(var(--accent-background))] text-[oklch(var(--accent-foreground))];
}

.blog-page-toc {
	@apply z-50 rounded-lg px-[var(--guide-gutter)] transition-all duration-300 ease-in-out sm:py-[var(--guide-gutter)] lg:py-0;
}

body.scrolled .blog-page-toc {
	@apply lg:px-[calc(var(--guide-gutter)*0.5)];
}

.blog-page-toc ul {
	@apply flex flex-col sm:place-items-start lg:place-items-end;
}

.blog-page-toc ul a {
	@apply inline-block border-[oklch(var(--accent-foreground))] px-0.5 leading-none transition-all duration-150 ease-in-out sm:border-l sm:text-left lg:border-l-0 lg:border-r lg:text-right;
}

.blog-page-toc ul a:has(.toc-1) {
	@apply border-0 px-0 sm:-ml-1 sm:-mr-0 lg:-ml-0 lg:-mr-1;
}

.blog-page-toc ul li {
	@apply inline-block rounded-lg px-2 leading-normal transition-all duration-150 ease-in-out hover:bg-[oklch(var(--accent)/0.2)] hover:text-foreground sm:text-left lg:text-right;
}

.toc-1 {
	@apply rounded-lg px-2.5 py-1.5 text-sm font-semibold text-[oklch(var(--foreground)/0.8)];
}

.toc-2 {
	@apply px-3 py-1.5 font-mono text-2xs uppercase text-[oklch(var(--foreground)/0.6)];
}

.toc-2:has(+ .toc-1) {
	@apply pb-4;
}

.blog-page-nav-arrow {
	@apply nav-btn absolute left-0 top-0 ml-[var(--guide-gutter)] mt-[var(--guide-gutter)] cursor-pointer place-self-end !fill-[oklch(var(--dark-bg)/0.5)] hover:!fill-[oklch(var(--dark-bg)/0.8)] sm:h-6 md:h-5;
}

.post-markdown {
	@apply relative z-50 w-full min-w-0 max-w-[var(--article-width)] transition-all duration-500 ease-in-out sm:px-[var(--guide-gutter)] sm:pt-0 sm:text-foreground lg:px-0 lg:pt-[var(--guide-gutter)];
}

.post-markdown::after {
	content: "";
	background: linear-gradient(
		oklch(var(--background) / 0) 0%,
		oklch(var(--background) / 1) 800px
	);

	@apply pointer-events-none absolute left-0 top-0 h-full w-full transition-all duration-500 ease-in-out;
}

body.scrolled .post-markdown::after {
	@apply opacity-0;
}

.post-markdown p {
	font-size: 1rem;
	font-weight: normal;
	line-height: 1.5;
	margin-bottom: 1.5rem;
}

.post-markdown h1 {
	font-size: 2rem;
	font-weight: 700;
	margin-bottom: 0.7rem;
	scroll-margin-top: calc(var(--nav-height) + var(--guide-gutter) + 15px);
}

.post-markdown h2 {
	font-size: 1.25rem;
	font-weight: 500;
	margin-bottom: 0.8rem;
	scroll-margin-top: calc(var(--nav-height) + var(--guide-gutter) + 15px);
}

.post-markdown h3 {
	font-size: 0.9rem;
	font-weight: 500;
	margin-bottom: 0.7rem;
	scroll-margin-top: calc(var(--nav-height) + var(--guide-gutter) + 15px);
	@apply font-mono uppercase text-[oklch(var(--foreground)/0.6)];
}

.post-markdown h4 {
	font-size: 1.3rem;
	font-weight: 700;
	scroll-margin-top: calc(var(--nav-height) + var(--guide-gutter) + 15px);
}

.post-markdown h5 {
	font-size: 1.3rem;
	font-weight: 700;
	scroll-margin-top: calc(var(--nav-height) + var(--guide-gutter) + 15px);
}

.post-markdown h6 {
	font-size: 0.9rem;
	font-weight: 700;
	scroll-margin-top: calc(var(--nav-height) + var(--guide-gutter) + 15px);
}

.post-markdown ul,
.post-markdown ol {
	margin-bottom: 1.75rem;
}

.post-markdown ul > li {
	margin-left: var(--guide-gutter);
	list-style: disc;
	margin-bottom: 0.75rem;
}

.post-markdown ol > li {
	margin-left: var(--guide-gutter);
	list-style: decimal;
	margin-bottom: 0.75rem;
}

.post-markdown pre {
	background-color: oklch(var(--foreground) / 0.05) !important;
	margin-bottom: 2rem;

	@apply relative rounded-lg p-[var(--guide-gutter)] text-sm;
}

.post-markdown pre::before {
	content: "";
	background: radial-gradient(
		circle at 100% 200%,
		oklch(var(--accent)) -400%,
		transparent 66%
	);

	@apply absolute left-0 top-0 h-full w-full;
}

.post-markdown hr {
	@apply my-12 border-[oklch(var(--foreground)/0.2)];
}

.post-markdown blockquote {
	border-left: var(--radius) solid oklch(var(--foreground) / 0.75);
	@apply relative mb-6 rounded-lg bg-[oklch(var(--foreground)/0.05)] p-4;
}

.post-markdown blockquote::before {
	content: "";
	background: radial-gradient(
		circle at 100% 200%,
		oklch(var(--accent)) -400%,
		transparent 66%
	);

	@apply absolute left-0 top-0 h-full w-full rounded-lg;
}

.post-markdown blockquote * {
	margin-bottom: 0rem;
}

.post-markdown blockquote > blockquote {
	margin-top: 1rem;
}

.astro-code,
.astro-code span {
	color: var(--shiki) !important;
	background-color: var(--shiki-bg) !important;
	/* Optional, if you also want font styles */
	font-style: var(--shiki-font-style) !important;
	font-weight: var(--shiki-font-weight) !important;
	text-decoration: var(--shiki-text-decoration) !important;
}

/* ------------------------ PROJECT CARD STYLES ----------------------- */
.project-card {
	@apply relative flex h-full justify-items-start px-0 sm:flex-row sm:gap-[var(--guide-gutter)] md:flex-col md:gap-[calc(var(--guide-gutter)*0.66)];
}

/* .project-card-accent {
    @apply bg-none;
} */

.project-card:has(
		.project-card-content .project-card-arrow-link .project-card-arrow:hover
	)::before {
	@apply opacity-100 duration-300;
}

/* .project-card:has(.project-card-tag:hover) {
	@apply bg-[oklch(from_oklch(var(--accent))_calc(var(--theme-lightness)+var(--theme-contrast))_var(--theme-chroma)_h)];
} */

.project-card:hover::before {
	background-color: oklch(var(--card-gradient));
}

.project-card:has(.project-card-tag:hover)::before {
	background-color: oklch(var(--accent)) !important;
}

a:has(.project-card-img) {
	@apply z-20 max-h-full w-min justify-self-end leading-none transition-all duration-300 sm:ml-0 sm:mt-0 sm:h-full sm:rounded-l-lg md:ml-[calc(var(--guide-gutter))] md:mt-[var(--guide-gutter)] md:h-auto md:rounded-lg;
}

a:has(.project-card-img):hover {
	@apply scale-[102%] opacity-100;
}

.project-card-img {
	@apply pointer-events-none min-h-20 min-w-20 overflow-hidden rounded-[inherit] sm:h-full sm:w-[var(--one-w)] md:aspect-square md:h-[var(--one-w)] md:w-[var(--one-w)];
}

.project-card-icon {
	@apply pointer-events-none flex h-full w-full items-center justify-center bg-[oklch(var(--accent)/0.05)] p-3 transition-all duration-300 ease-in-out;
}

.project-card:has(.project-card-tag:hover) .project-card-icon {
	@apply bg-[oklch(var(--accent-background))];
}

.project-card-icon [data-icon] {
	@apply max-h-full text-[2rem] transition-colors duration-300 ease-in-out hover:text-[oklch(var(--foreground)/1)] sm:text-[oklch(var(--accent)/0.7)];
}

.project-card:has(.project-card-tag:hover) .project-card-icon [data-icon] {
	@apply text-[oklch(var(--accent-foreground))];
}

.project-card-content {
	@apply z-20 flex h-full w-full flex-col justify-between sm:px-0 sm:py-[var(--guide-gutter)] sm:pr-[var(--guide-gutter)] md:px-[calc(var(--guide-gutter))] md:pt-0;
}

.project-card-content * {
	@apply max-w-full;
}

.project-card-featured {
	@apply h-min max-w-full place-content-start pb-2 pt-[var(--guide-gutter)] font-mono uppercase tracking-widest text-[oklch(var(--foreground)/0.4)] sm:text-xs md:text-sm;
}

.project-card-title {
	@apply mb-0 inline h-min w-fit text-pretty font-semibold tracking-tight text-[oklch(var(--foreground)/0.85)] transition-colors duration-150 hover:text-foreground sm:text-2xl sm:leading-[1.25] md:text-2xl md:leading-[1.25];
}

.project-card-category {
	@apply h-min w-auto transform-none place-content-start pb-3 pt-0 font-mono font-semibold uppercase tracking-widest text-[oklch(var(--foreground)/0.5)] transition-colors duration-500 ease-in-out sm:text-xs md:text-xs;
}

.project-card:has(.project-card-tag:hover) .project-card-category {
	@apply text-[oklch(var(--accent-foreground))];
}

.project-card-description {
	@apply h-min w-auto place-content-start text-pretty pb-[calc(var(--guide-gutter)*0.75)] text-xs leading-normal text-[oklch(var(--foreground)/0.7)];
}

.project-card-tags {
	@apply flex w-full flex-1 flex-row flex-wrap-reverse content-start gap-0 self-end pr-[calc(var(--guide-gutter)*2.5)];
}

.project-card-tag {
	position: relative;
	overflow: hidden;
	@apply cursor-pointer place-self-end overflow-hidden whitespace-nowrap rounded-[250px] border-2 border-transparent bg-[oklch(var(--foreground)/0)] px-2.5 py-0.5 font-mono uppercase tracking-wider text-[oklch(var(--foreground)/0.6)] backdrop-blur-xl transition-all hover:bg-[oklch(var(--foreground)/0)] hover:text-[oklch(from_oklch(var(--tag-color))_var(--shade-foreground)_c_h)] sm:text-3xs md:text-2xs;
}

.project-card-tag::before {
	content: "";

	@apply absolute bottom-0 left-0 right-0 top-0 z-[-1] bg-[oklch(from_oklch(var(--tag-color))_l_c_h/0.25)] transition-colors duration-200 ease-in-out;
}

.project-card-tag:hover::before {
	@apply bg-[oklch(from_oklch(var(--tag-color))_var(--shade-background)_c_h)];
}

.project-card-tag:hover {
	border-color: transparent;
}

/* Project Card Tag Colours */

.html {
	--tag-color: var(--tag-html);
}
.css {
	--tag-color: var(--tag-css);
}
.javascript {
	--tag-color: var(--tag-javascript);
}
.astro {
	--tag-color: var(--tag-astro);
}
.tailwind-css {
	--tag-color: var(--tag-tailwind);
}
.react {
	--tag-color: var(--tag-react);
}
.sql {
	--tag-color: var(--tag-sql);
}
.c\# {
	--tag-color: var(--tag-csharp);
}
.\.net {
	--tag-color: var(--tag-dotnet);
}
.azure-cosmos-db {
	--tag-color: var(--tag-azure-cosmos);
}
.angular {
	--tag-color: var(--tag-angular);
}
.supabase {
	--tag-color: var(--tag-supabase);
}

.project-card-arrow-link {
	@apply absolute bottom-[calc(var(--guide-gutter)*0.75)] right-[var(--guide-gutter)] place-self-end;
}

.project-card-arrow {
	@apply nav-btn h-6 hover:fill-accent;
}

.project-card:has(.project-card-tag:hover) .project-card-arrow {
	@apply fill-[oklch(var(--accent-foreground))];
}

.inline-back-arrow {
	@apply nav-btn mb-[4px] mr-[calc(var(--guide-gutter)/2)] h-5;
}
