@tailwind base;
@tailwind components;
@tailwind utilities;

/* ------------------ RESPONSIVE DISPLAY SCALING ------------------- */
/* Large Desktop - 1440px+ */
:root {
	--guide-count: 12;
	--guide-type: center;
	--guide-grid-width: auto;
	--guide-width: 72px;
	--guide-margin: 0px;
	--guide-gutter: 24px;
	--guide-true-width: var(--guide-width);
    --guide-true-margin: calc((100% - var(--full-w)) /2);

	--full-w: calc(
		(var(--guide-true-width) * var(--guide-count)) +
			(var(--guide-gutter) * (var(--guide-count) - 1))
	);
	--half-w: calc(
		(var(--guide-true-width) * (var(--guide-count) / 2)) +
			(var(--guide-gutter) * ((var(--guide-count) / 2) - 1))
	);
	--two-thirds-w: calc((var(--third-w) * 2) + var(--guide-gutter));
	--quarter-w: calc(
		(var(--guide-true-width) * (var(--guide-count) / 4)) +
			(var(--guide-gutter) * ((var(--guide-count) / 4) - 1))
	);
	--quarter-w: calc(
		(var(--guide-true-width) * (var(--guide-count) / 4)) +
			(var(--guide-gutter) * ((var(--guide-count) / 4) - 1))
	);
	--third-w: calc(
		(var(--guide-true-width) * (var(--guide-count) / 3)) +
			(var(--guide-gutter) * ((var(--guide-count) / 3) - 1))
	);

	--one-w: calc(var(--guide-true-width) * 1);
	--two-w: calc((var(--guide-true-width) * 2) + var(--guide-gutter));
	--three-w: calc((var(--guide-true-width) * 3) + (var(--guide-gutter) * 2));
	--four-w: calc((var(--guide-true-width) * 4) + (var(--guide-gutter) * 3));
	--five-w: calc((var(--guide-true-width) * 5) + (var(--guide-gutter) * 4));
	--six-w: calc((var(--guide-true-width) * 6) + (var(--guide-gutter) * 5));
	--seven-w: calc((var(--guide-true-width) * 7) + (var(--guide-gutter) * 6));
}

/* Medium Desktop - 905px-1439px */
@media screen and (min-width: 905px) and (max-width: 1439px) {
	:root {
		--guide-count: 12;
		--guide-type: stretch;
		--guide-grid-width: 100%;
		--guide-width: auto;
		--guide-margin: 48px;
		--guide-gutter: 24px;
		--guide-true-width: calc(
			(
					(100dvw - (var(--guide-gutter) * (var(--guide-count) - 1))) -
						(var(--guide-margin) * 2)
				) / var(--guide-count)
		);
	}
}

/* Tablet - 600-904px */
@media screen and (min-width: 600px) and (max-width: 904px) {
	:root {
		--guide-count: 8;
		--guide-type: stretch;
		--guide-grid-width: 100%;
		--guide-width: auto;
		--guide-margin: 24px;
		--guide-gutter: 24px;
		--guide-true-width: calc(
			(
					(100dvw - (var(--guide-gutter) * (var(--guide-count) - 1))) -
						(var(--guide-margin) * 2)
				) / var(--guide-count)
		);
	}
}

/* Mobile - 0-599px */
@media screen and (max-width: 599px) {
	:root {
		--guide-count: 4;
		--guide-type: stretch;
		--guide-grid-width: 100%;
		--guide-width: auto;
		--guide-margin: 16px;
		--guide-gutter: 16px;
		--guide-true-width: calc(
			(
					(100dvw - (var(--guide-gutter) * (var(--guide-count) - 1))) -
						(var(--guide-margin) * 2)
				) / var(--guide-count)
		);
	}
}
/* ----------------------------------------------------------------- */

/* ----------------------- SCROLLBAR STYLES ------------------------ */
::-webkit-scrollbar {
	width: 5px;
}
::-webkit-scrollbar-track {
	background: transparent;
}
::-webkit-scrollbar-thumb {
	background-color: hsl(var(--foreground) / 0.2);
	border-radius: 100px;
}
::-webkit-scrollbar-thumb:hover {
	background-color: hsl(var(--foreground));
}

* {
	scrollbar-width: thin;
	scrollbar-color: hsl(var(--foreground) / 0.2) transparent;
}
/* ----------------------------------------------------------------- */

/* ---------------------------- FONTS ------------------------------ */
@font-face {
	font-family: Fluent;
	font-style: normal;
	font-weight: 100 400;
	font-display: swap;
	src: url("/fonts/Fluent-Regular.woff2") format("woff2");
}

@font-face {
	font-family: Fluent;
	font-style: normal;
	font-weight: 500 900;
	font-display: swap;
	src: url("/fonts/Fluent-Bold.woff2") format("woff2");
}

@font-face {
	font-family: Fluent;
	font-style: italic;
	font-weight: 100 400;
	font-display: swap;
	src: url("/fonts/Fluent-RegularItalic.woff2") format("woff2");
}

@font-face {
	font-family: Fluent;
	font-style: italic;
	font-weight: 500 900;
	font-display: swap;
	src: url("/fonts/Fluent-BoldItalic.woff2") format("woff2");
}

@font-face {
	font-family: JetBrainsMono;
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url("/fonts/JetBrainsMonoVariable.woff2") format("woff2");
}

@font-face {
	font-family: JetBrainsMono;
	font-style: italic;
	font-weight: 100 900;
	font-display: swap;
	src: url("/fonts/JetBrainsMonoVariable-Italic.woff2") format("woff2");
}
/* ----------------------------------------------------------------- */

/* ----------------------- GLOBAL VARIABLES ------------------------ */
@layer base {
	:root {
		--header-padding: 10rem;
		--nav-height: 5rem;
		--header-nav-diff: var(--guide-gutter);
		--header-height: calc((var(--header-nav-diff) * 2) + var(--nav-height));
		--footer-height: 8rem;
        --article-width: 80ch;
		--page-height: calc(
			100vh -
				(
					var(--header-height) + var(--header-padding) +
						var(--footer-height)
				)
		);
		--radius: 0.5rem;

		--theme-hue: 20;
		/* --theme-saturation: 14.3%; */
		--theme-saturation: 14.3%;
		--theme-lightness: 97%;
		--theme-darkness: 4.5%;

		--light-bg: var(--theme-hue) var(--theme-saturation)
			var(--theme-lightness);
		--dark-bg: var(--theme-hue) var(--theme-saturation)
			var(--theme-darkness);

		--card-light: hsl(60 9.1% 97.8%);
		--card-dark: hsl(20 14.3% 4.5%);

		--tag-border-opacity: 0.5;
		--tag-bg-opacity: 0.15;

		--tag-html: 18 81% 54%;
		--tag-css: 221 82% 53%;
		--tag-javascript: 52 84% 63%;
		--tag-astro: 340 72% 55%;
		--tag-tailwind: 182 83% 60%;
		--tag-react: 189 100% 52%;
		--tag-sql: 24 98% 67%;
		--tag-csharp: 264 94% 35%;
		--tag-dotnet: 253 66% 52%;
		--tag-azure-cosmos: 210 55%, 54%;
		--tag-angular: 346 100% 38%;
		--tag-supabase: 153 60% 54%;
	}

	:root[data-theme="dark"] {
		/* --background: 20 14.3% 4.5%;
		--foreground: 60 9.1% 97.8%; */

		--background: var(--theme-hue) var(--theme-saturation)
			var(--theme-darkness);
		--foreground: var(--theme-hue) var(--theme-saturation)
			var(--theme-lightness);

		--header: color-mix(
			in srgb,
			hsl(var(--foreground) / 0.05),
			hsl(var(--background) / 1)
		);

		--css-background: var(--theme-hue), var(--theme-saturation),
			var(--theme-darkness);
		--css-foreground: var(--theme-hue), var(--theme-saturation),
			var(--theme-lightness);

		--background-alt: var(--theme-hue) var(--theme-saturation)
			var(--theme-darkness);
		--card: var(--theme-hue) var(--theme-saturation) var(--theme-darkness);
		--card-foreground: var(--theme-hue) var(--theme-saturation)
			var(--theme-lightness);
		--popover: var(--theme-hue) var(--theme-saturation)
			var(--theme-darkness);
		--popover-foreground: var(--theme-hue) 9.1% var(--theme-lightness);
		--primary: var(--theme-hue) 9.1% var(--theme-lightness);
		--primary-foreground: 24 9.8% 10%;
		--secondary: 12 6.5% 15.1%;
		--secondary-foreground: var(--theme-hue) 9.1% var(--theme-lightness);
		--muted: var(--theme-hue) 6.5% 15.1%;
		--muted-foreground: var(--theme-hue) 5.4% 63.9%;
		--destructive: 1 62.8% 30.6%;
		--destructive-foreground: 1 9.1% var(--theme-lightness);
		--border: var(--theme-hue) 6.5% 15.1%;
		--input: var(--theme-hue) 6.5% 15.1%;
		--ring: var(--theme-hue) 5.7% 82.9%;

		--shadow-col: var(--background);

		--light-img-opacity: 0;
		--dark-img-opacity: 1;

		--card-saturate: 80%;
		--card-sepia: 0%;
		--card-brightness: 250%;
		--card-contrast: 100%;
		--card-hue: 90deg;

        --shiki: var(--shiki-dark) !important;
        --shiki-bg: var(--shiki-dark-bg) !important;
        --shiki-font-style: var(--shiki-dark-font-style) !important;
        --shiki-weight: var(--shiki-dark-font-weight) !important;
        --shiki-decoration: var(--shiki-dark-text-decoration) !important;

	}

	:root[data-theme="light"] {
		--background: var(--theme-hue) var(--theme-saturation)
			var(--theme-lightness);
		--foreground: var(--theme-hue) var(--theme-saturation)
			var(--theme-darkness);

		--header: color-mix(
			in srgb,
			hsl(var(--foreground) / 0.05),
			hsl(var(--background) / 1)
		);

		--css-background: var(--theme-hue), var(--theme-saturation),
			var(--theme-lightness);
		--css-foreground: var(--theme-hue), var(--theme-saturation),
			var(--theme-darkness);

		--background-alt: var(--theme-hue) var(--theme-saturation)
			var(--theme-lightness);
		--card: var(--theme-hue) 0% 100%;
		--card-foreground: var(--theme-hue) var(--theme-saturation)
			var(--theme-darkness);
		--popover: var(--theme-hue) 0% 100%;
		--popover-foreground: var(--theme-hue) var(--theme-saturation)
			var(--theme-darkness);
		--primary: var(--theme-hue) 9.8% 10%;
		--primary-foreground: var(--theme-hue) 9.1% var(--theme-lightness);
		--secondary: var(--theme-hue) 4.8% var(--theme-lightness);
		--secondary-foreground: var(--theme-hue) 9.8% 10%;
		--muted: var(--theme-hue) 4.8% 95.9%;
		--muted-foreground: var(--theme-hue) 5.3% 44.7%;
		--destructive: 1 84.2% 60.2%;
		--destructive-foreground: 1 9.1% var(--theme-lightness);
		--border: var(--theme-hue) 5.9% var(--theme-lightness);
		--input: var(--theme-hue) 5.9% var(--theme-lightness);
		--ring: var(--theme-hue) var(--theme-saturation) var(--theme-darkness);

		--shadow-col: var(--background);

		--light-img-opacity: 1;
		--dark-img-opacity: 0;

		--card-saturate: 50%;
		--card-brightness: 88%;
		--card-contrast: 200%;
		--card-hue: 90deg;

        --shiki: var(--shiki-light) !important;
        --shiki-bg: var(--shiki-light-bg) !important;
        --shiki-font-style: var(--shiki-light-font-style) !important;
        --shiki-weight: var(--shiki-light-font-weight) !important;
        --shiki-decoration: var(--shiki-light-text-decoration) !important;
	}
}
/* ----------------------------------------------------------------- */

/* ------------------------ GLOBAL STYLES -------------------------- */
@layer base {
	:root {
		--accent: var(--foreground);
		--accent-gradient: var(--background);

		@apply scroll-smooth font-sans;
	}

	@supports (font-variation-settings: normal) {
		:root {
			font-optical-sizing: auto;
		}
	}

	*,
	*::before,
	*::after {
		@apply box-border m-0 p-0 ;
	}

	body {
		@apply bg-background text-foreground;
	}

	a {
		cursor: pointer;
	}

	img {
		@apply max-w-none;
	}

	.dark-icon,
	.light-icon {
		@apply hidden;
	}

	:root[data-theme="light"] .light-icon {
		@apply inline-block;
	}

	:root[data-theme="dark"] .dark-icon {
		@apply inline-block;
	}

	.card, .card-alt {
        --accent: var(--foreground);
        --accent-border: hsl(var(--foreground) / 0.025);
        --accent-border-glow: hsl(var(--accent) / 0.75);
        --accent-bg-glow: hsl(var(--accent) / 0.135);

        @apply relative rounded-lg border-[var(--accent-border)] border hover:border-[var(--accent-border)] transition-all duration-300 ease-in-out shadow-xl shadow-transparent hover:shadow-foreground/5 w-full bg-transparent;
	}
    
    .card::before {
        @apply absolute w-full h-full top-0 left-0 rounded-lg;
        content: "";
        background: radial-gradient(circle at 0% 100%, hsl(var(--foreground)/0.1) 0%, hsl(var(--foreground)/0.025) 66%);
    }

    .card-alt::before {
        @apply absolute w-full h-full top-0 left-0 rounded-lg;
        content: "";
        background: radial-gradient(circle at 50% 100%, hsl(var(--foreground)/0.1) 0%, hsl(var(--foreground)/0.025) 80%);
    }

    .card::after, .card-alt::after {
        content: "";
        @apply absolute inset-0 rounded-lg border border-transparent opacity-100 transition-opacity duration-300 ease-in-out pointer-events-none;
   
        background: linear-gradient(-45deg, hsl(var(--foreground)/0.05) 0%,
                hsl(var(--foreground)/0) 50%, hsl(var(--foreground)/0.1) 100%
            )
            border-box;
        mask:
            linear-gradient(#fff 0 0) padding-box,
            linear-gradient(#fff 0 0);
        mask-composite: exclude;
    }

    
    .card-accent {
        @apply rounded-lg absolute top-0 left-0 w-full h-full;
        background: radial-gradient(circle at 100% 100%, hsl(var(--accent)) -300%, transparent 50%);
    }

    .card-accent-alt {
        @apply rounded-lg absolute top-0 left-0 w-full h-full;
        background: radial-gradient(circle at 100% 100%, hsl(var(--accent)) -150%, transparent 25%);
    }

    .card-accent::after, .card-accent-alt::after {
        content: "";
        @apply absolute inset-0 rounded-lg border border-transparent opacity-0 transition-opacity duration-300 ease-in-out;
   
        background: radial-gradient(
                200px circle at var(--mouse-x) var(--mouse-y),
                var(--accent-border-glow) 0%,
                transparent 100%
            )
            border-box;
        mask:
            linear-gradient(#fff 0 0) padding-box,
            linear-gradient(#fff 0 0);
        mask-composite: exclude;
    }

    .card:hover > .card-accent::after, .card-alt:hover > .card-accent-alt::after {
        @apply opacity-100;
    }

    .card-accent::before {
        @apply rounded-[inherit] h-full w-full left-0 top-0 opacity-0 absolute transition-opacity duration-500 ease-in-out;

        content: "";
        background: radial-gradient(
            500px circle at var(--mouse-x) var(--mouse-y),
            var(--accent-bg-glow) 0%,
            transparent 50%
        );
    }

    .card-accent-alt::before {
        @apply rounded-[inherit] h-full w-full left-0 top-0 opacity-0 absolute transition-opacity duration-500 ease-in-out;

        content: "";
        background: radial-gradient(
            700px circle at var(--mouse-x) var(--mouse-y),
            var(--accent-bg-glow) 0%,
            transparent 50%
        );
    }

    .card:hover .card-accent::before, .card-alt:hover .card-accent-alt::before {
        @apply opacity-50;
    }

    .card:has(a:hover) .card-accent::before, .card-alt:has(a:hover) .card-accent-alt::before {
        @apply opacity-100;
    }

}

@layer components {
	.nav-button a {
		@apply inline-flex h-12 w-max place-items-center rounded-[var(--radius)] bg-transparent px-4 py-2 font-mono uppercase text-sm tracking-wider hover:bg-foreground/0 focus:bg-foreground/10 focus:text-foreground focus:outline-none disabled:pointer-events-none disabled:opacity-50;
	}

	.active-link {
		background-color: hsla(var(--foreground) / 0.07) !important;
	}

	#nav-footer {
		border-radius: var(--radius) !important;
	}
}
/* ----------------------------------------------------------------- */

/* ------------------------ IMAGE SKELETONS ------------------------ */
div[data-loaded] {
	@apply skeleton;
}

.skeleton {
	position: relative;
}

.skeleton::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: linear-gradient(
		90deg,
		hsl(var(--foreground) / 0.1) 25%,
		hsl(var(--foreground) / 0.2) 45%,
		hsl(var(--foreground) / 0.2) 55%,
		hsl(var(--foreground) / 0.1) 75%
	);
	background-size: 200%;
	animation:
		sweep 1s linear infinite,
		pause 1s infinite;
	animation-timing-function: linear, steps(1);
	opacity: 1;
}

@keyframes sweep {
	0% {
		background-position: -50% 50%;
	}

	75% {
		background-position: 150% 50%;
	}

	100% {
		background-position: 150% 50%;
	}
}

.skeleton::before[data-loaded="true"] {
	@apply opacity-0;
}
/* ----------------------------------------------------------------- */

/* ------------------------ BLOG POST STYLES ----------------------- */
.blog-post {
	@apply flex sm:flex-row md:flex-col sm:gap-[calc(var(--guide-gutter)*1)] md:gap-[calc(var(--guide-gutter)*0.9)] justify-self-center
    sm:max-w-[var(--full-w)] md:max-w-none;
}

.blog-post[data-type="featured"] {
	@apply sm:col-span-1 md:col-span-2 lg:col-span-3 flex-row gap-[var(--guide-gutter)];
}

.blog-post:has(a:hover)::before {
	@apply opacity-100 duration-300;
}

.blog-post[data-type="featured"] a:has(.blog-post-img) {
	@apply rounded-l-lg rounded-r-none shadow-2xl shadow-transparent transition-all duration-300 w-min;
}

a:has(.blog-post-img) {
	@apply sm:rounded-l-lg md:rounded-t-lg md:rounded-b-none shadow-2xl shadow-transparent transition-all duration-300 w-min
    
    sm:h-auto
    sm:m-0
    
    md:w-auto
    md:mt-0
    md:mb-0
    md:ml-0;
}

.blog-post[data-type="featured"] .blog-post-img {
	@apply rounded-[inherit] 
    
    sm:h-full
    sm:min-h-[var(--half-w)]
    sm:w-[calc(var(--half-w))]
    
    md:max-h-none
    lg:min-h-[var(--five-w)];
}

.blog-post-img {
    @apply rounded-[inherit] pointer-events-none overflow-hidden

    sm:h-full
    sm:w-[calc(var(--one-w)-1px)]
    
    md:max-h-36
    md:h-[calc(var(--two-w)-1px)]
    md:w-full;
}

.blog-post-img img {
	@apply absolute top-0 left-0 object-cover w-full h-full max-h-full rounded-[inherit] transition-all duration-500 ease-in-out sm:saturate-100 md:saturate-[0.8];
}

.blog-post:hover img {
	@apply saturate-[1.1];
}

.blog-post-accent {
	@apply card-accent;
}

.blog-post[data-type="featured"] .blog-post-content {
    @apply justify-center pl-0;
}

.blog-post-content {
	@apply sm:pr-[calc(var(--guide-gutter)*1)] md:pr-[var(--guide-gutter)] place-content-start content-center flex flex-col justify-between w-full h-full sm:pl-0 md:pl-[var(--guide-gutter)];
}

.blog-post-content * {
	@apply max-w-full;
}

.blog-post[data-type="featured"] .blog-post-featured {
	@apply block max-w-full h-min font-mono sm:text-2xs md:text-xs lg:text-sm uppercase tracking-widest place-content-start text-foreground/50 pt-[var(--guide-gutter)] pb-[calc(var(--guide-gutter)*0.25)];
}

.blog-post-featured {
	@apply hidden;
}

.blog-post[data-type="featured"] .blog-post-title {
	@apply sm:text-2xl md:text-4xl sm:leading-[1.25] md:leading-[1.15] mb-[calc(var(--guide-gutter)*0.4)] sm:mt-[calc(var(--guide-gutter)*0.1)];
}

.blog-post-title {
	@apply inline h-min tracking-tight text-foreground/85 hover:text-foreground transition-colors duration-150 font-semibold text-pretty w-fit sm:text-xl md:text-2xl sm:mt-[calc(var(--guide-gutter)*1)] md:mt-0 mb-[calc(var(--guide-gutter)*0.25)] sm:leading-[1.25];
}

.blog-post-date {
	@apply w-auto h-min font-semibold sm:text-3xs md:text-2xs uppercase tracking-widest pr-4 sm:pb-[calc(var(--guide-gutter)*0.75)] md:pb-[calc(var(--guide-gutter)*0.5)] pt-0 place-content-start text-foreground/50 transform-none font-mono;
}

.blog-post[data-type="featured"] .blog-post-description {
	@apply pr-[var(--guide-gutter)] line-clamp-3 sm:text-xs md:text-sm;
}

.blog-post-description {
	@apply sm:hidden md:line-clamp-3 sm:pr-[calc(var(--guide-gutter)*2.5)] md:sm:pr-[calc(var(--guide-gutter)*1)] text-sm text-foreground/60 h-min w-auto place-content-start leading-[1.4] sm:mb-[var(--guide-gutter)] md:mb-[calc(var(--guide-gutter)*1)] text-pretty;
}

.blog-post[data-type="featured"] .blog-post-tags {
	@apply sm:flex sm:mb-[calc(var(--guide-gutter)*1)] flex-grow-0;
}

.blog-post-tags {
	@apply flex-1 h-min pr-[calc(var(--guide-gutter)*2)] w-full flex mb-[calc(var(--guide-gutter)*1)] flex-row flex-wrap-reverse justify-start gap-1 place-content-end;
}

.blog-post-tag {
	@apply bg-foreground/5 text-foreground/40 backdrop-blur-xl rounded-[250px] px-2.5 py-0.5 sm:text-3xs md:text-2xs font-mono uppercase whitespace-nowrap overflow-hidden place-self-end transition-all duration-300 cursor-pointer font-normal tracking-wider;
}

.blog-post-tag:hover {
	@apply hover:text-foreground/100 bg-foreground/15;
}

.blog-post-arrow-link {
	@apply absolute bottom-[calc(var(--guide-gutter)*0.75)] right-[var(--guide-gutter)] place-self-end;
}

.blog-post-arrow {
	@apply nav-btn h-5 !fill-foreground/25 hover:!fill-[hsl(var(--accent))]/100;
}

.inline-back-arrow {
	@apply nav-btn h-5 mr-[calc(var(--guide-gutter)/2)] mb-[4px];
}

.tag-close-button {
	@apply nav-btn h-4 stroke-foreground/50 hover:stroke-red-600 ml-[2px] mb-[2px] fill-none;
}

.nav-btn {
	@apply inline-block w-auto ease-in-out transition-all duration-200 fill-foreground/50 hover:fill-foreground/100;
}
/* ----------------------------------------------------------------- */

/* ------------------------ BLOG PAGE STYLES ----------------------- */
.blog-page {
	@apply flex flex-col place-items-center content-start rounded-[var(--radius)] w-[var(--full-w)] relative place-self-center gap-[var(--guide-gutter)];
    
    --accent: var(--foreground);
	--accent-border: hsl(var(--foreground) / 0.025);
	--accent-border-glow: hsl(var(--page-accent) / 0.75);
	--accent-bg-glow: hsl(var(--page-accent) / 0.15);
}

/* .blog-page * {
 background-color: rgba(255, 0, 0, 0.2);
} */

.blog-page-img {
	@apply absolute top-0 left-0 rounded-[inherit] w-full sm:h-[var(--three-w)] md:h-[var(--five-w)] transition-all duration-500 ease-in-out;
}

body.scrolled .blog-page-img {
    @apply opacity-0;
}

.blog-page-img img {
    @apply sm:h-0 w-full lg:h-full object-cover rounded-lg;
}

/* .blog-page-img img {
	@apply absolute top-0 left-0 object-cover w-full h-full max-h-full rounded-[inherit] transition-all duration-500 ease-in-out;
} */

.blog-page-content {
    --details-width: 50%;
    @apply grid sm:grid-cols-1 lg:grid-cols-[minmax(var(--details-width),1fr)_auto] sm:gap-[calc(var(--guide-gutter)*1)] lg:gap-[calc(var(--guide-gutter)*2)] max-w-full sm:pt-0 lg:pt-[calc(var(--five-w)+var(--guide-gutter))] transition-all duration-300 ease-in-out;
}

body.scrolled .blog-page-content {
    --details-width: 330px;
}

.blog-page-panel {
    @apply flex flex-col sm:relative lg:sticky sm:top-0 lg:top-[calc(var(--nav-height)+(var(--guide-gutter)*1.5))] h-min gap-0 transition-all duration-500 ease-in-out; 
}

body.scrolled .blog-page-panel {
    @apply lg:gap-[calc(var(--guide-gutter)*0.5)];
}

.blog-page-card {
	@apply relative flex flex-col transition-all duration-500 ease-in-out sm:w-[var(--full-w)] lg:w-full h-min rounded-lg overflow-hidden border border-transparent card;
}

.blog-page-card:hover {
    @apply shadow-transparent lg:border-transparent;
}

.blog-page-card::before {
    @apply transition-all duration-500 ease-in-out sm:opacity-100 lg:opacity-0;
}

body.scrolled .blog-page-card::before {
    @apply opacity-100;
}

.blog-page-card::after {
    @apply transition-all duration-500 ease-in-out sm:opacity-100 lg:opacity-0 lg:border-transparent;
}

body.scrolled .blog-page-card::after {
    @apply opacity-100;
}

.blog-page-card:hover::before {
	@apply sm:opacity-100 lg:opacity-0;
}

.blog-page-card:has(a:hover)::before {
	@apply sm:opacity-100 lg:opacity-0 duration-300;
}

body.scrolled .blog-page-card:has(a:hover)::before {
	@apply opacity-100 duration-300;
}

.blog-page-accent {
	@apply sm:opacity-100 lg:opacity-0 transition-all duration-500 ease-in-out;
}

body.scrolled .blog-page-accent {
	@apply opacity-100;
}

.blog-page-card-img {
	@apply rounded-[inherit] w-full h-auto transition-all duration-500 ease-in-out;
}

.blog-page-card-img img {
    @apply w-full sm:h-[var(--two-w)] md:sm:h-[var(--three-w)] lg:h-0 object-cover rounded-t-lg transition-all duration-500 ease-in-out;
}

body.scrolled .blog-page-card-img img {
    @apply sm:h-[var(--two-w)] md:sm:h-[var(--three-w)] lg:h-24;
}

.blog-page-title {
	@apply inline-block sm:text-3xl md:text-4xl lg:text-5xl font-semibold tracking-tight sm:leading-3xl md:leading-[1] text-foreground/90 transform-none sm:mb-0 md:mb-1 text-pretty w-auto px-[var(--guide-gutter)] pt-[var(--guide-gutter)] transition-all duration-500 ease-in-out sm:text-left lg:text-right;
}

body.scrolled .blog-page-title {
    @apply sm:text-3xl md:text-4xl lg:text-3xl sm:leading-3xl md:leading-[1];
}

.blog-page-date {
	@apply blog-post-date my-2 w-auto px-[calc(var(--guide-gutter))] sm:text-foreground/50 lg:text-[hsl(var(--accent)/0.75)] sm:text-left lg:text-right;
    padding-right: var(--guide-gutter);
}

body.scrolled .blog-page-date {
    @apply text-foreground/50;
}

.blog-page-tags {
	@apply flex w-auto flex-wrap sm:justify-start lg:justify-end gap-1 place-content-end px-[var(--guide-gutter)] pb-[var(--guide-gutter)];
}

.blog-page-tags * {
    @apply sm:bg-foreground/5 lg:bg-[hsl(var(--accent)/0.2)];
}

.blog-page-tags *:hover {
    @apply sm:bg-foreground/10 lg:bg-[hsl(var(--accent)/0.4)];
}

body.scrolled .blog-page-tags * {
    @apply bg-foreground/5;
}

body.scrolled .blog-page-tags *:hover {
    @apply bg-foreground/10;
}

.blog-page-toc {
    @apply px-[var(--guide-gutter)] sm:py-[var(--guide-gutter)] lg:py-0 z-50 transition-all duration-300 ease-in-out rounded-lg;
}

body.scrolled .blog-page-toc {
    @apply lg:px-[calc(var(--guide-gutter)*0.5)];
}

.blog-page-toc ul {
    @apply flex flex-col sm:place-items-start lg:place-items-end;
}

.blog-page-toc ul a {
    @apply inline-block sm:text-left lg:text-right transition-all duration-150 ease-in-out sm:border-l lg:border-r lg:border-l-0 border-[hsl(var(--accent)/0.5)] px-0.5 leading-none;
}

.blog-page-toc ul a:has(.toc-1) {
    @apply border-0 px-0 sm:-ml-1 lg:-ml-0 sm:-mr-0 lg:-mr-1;
}

.blog-page-toc ul li {
    @apply inline-block sm:text-left lg:text-right rounded-lg hover:bg-[hsl(var(--accent)/0.2)] hover:text-foreground transition-all duration-150 ease-in-out px-2 leading-normal;
}

.toc-1 {
    @apply font-semibold text-sm py-1.5 text-foreground/80 px-2.5 rounded-lg;
}

.toc-2 {
    @apply font-mono uppercase text-2xs py-1.5 px-3 text-foreground/60;
}

.toc-2:has(+ .toc-1) {
    @apply pb-4;
}

.blog-page-nav-arrow {
	@apply nav-btn !fill-[hsl(var(--dark-bg)/0.5)] hover:!fill-[hsl(var(--dark-bg)/0.8)] absolute top-0 left-0 sm:h-6 md:h-5 cursor-pointer place-self-end mt-[var(--guide-gutter)] ml-[var(--guide-gutter)];
}

.post-markdown {
	@apply relative w-full min-w-0 max-w-[var(--article-width)] sm:px-[var(--guide-gutter)] lg:px-0 sm:pt-0 lg:pt-[var(--guide-gutter)] z-50 transition-all duration-500 ease-in-out sm:text-foreground;
}

.post-markdown::after {
    content: '';
    background: linear-gradient(hsl(var(--background)/0) 0%, hsl(var(--background)/1) 800px);
    @apply absolute top-0 left-0 w-full h-full pointer-events-none transition-all duration-500 ease-in-out;
}

body.scrolled .post-markdown::after {
	@apply opacity-0;
}

.post-markdown p {
	font-size: 1rem;
	font-weight: normal;
    line-height: 1.5;
	margin-bottom: 1.5rem;
}

.post-markdown h1 {
	font-size: 1.5rem;
	font-weight: 700;
	margin-bottom: 0.7rem;
    scroll-margin-top: calc(var(--nav-height) + var(--guide-gutter) + 15px);
}

.post-markdown h2 {
    @apply font-mono uppercase text-foreground/50;
	font-weight: 500;
    margin-bottom: 0.75rem;
    scroll-margin-top: calc(var(--nav-height) + var(--guide-gutter) + 15px);
}

.post-markdown h3 {
	font-size: 0.9rem;
	font-weight: 500;
    margin-bottom: 0.75rem;
    scroll-margin-top: calc(var(--nav-height) + var(--guide-gutter) + 15px);
}

.post-markdown h4 {
	font-size: 1.3rem;
	font-weight: 700;
    scroll-margin-top: calc(var(--nav-height) + var(--guide-gutter) + 15px);
}

.post-markdown h5 {
	font-size: 1.3rem;
	font-weight: 700;
    scroll-margin-top: calc(var(--nav-height) + var(--guide-gutter) + 15px);
}

.post-markdown h6 {
	font-size: 0.9rem;
	font-weight: 700;
    scroll-margin-top: calc(var(--nav-height) + var(--guide-gutter) + 15px);
}

.post-markdown ul,
.post-markdown ol {
	margin-bottom: 1.75rem;
}

.post-markdown ul > li {
	margin-left: var(--guide-gutter);
	list-style: disc;
	margin-bottom: 0.75rem;
}

.post-markdown ol > li {
	margin-left: var(--guide-gutter);
	list-style: decimal;
	margin-bottom: 0.75rem;
}

.post-markdown pre {
	@apply text-sm rounded-lg p-[var(--guide-gutter)];
	background-color: hsla(var(--foreground) / 0.05) !important;
    margin-bottom: 2rem;
}

.post-markdown hr {
	border-color: hsla(var(--css-foreground), 0.2);
	margin: 2rem 0;
}

.post-markdown blockquote {
	border-left: var(--radius) solid hsla(var(--foreground) / 0.75);
	border-radius: var(--radius);
	padding: 1rem;
	background-color: hsla(var(--foreground) / 0.05) !important;
	margin-bottom: 1.5rem;
}

.post-markdown blockquote * {
	margin-bottom: 0rem;
}

.post-markdown blockquote > blockquote {
    margin-top: 1rem;
}

.astro-code,
.astro-code span {
    color: var(--shiki) !important;
    background-color: var(--shiki-bg) !important;
    /* Optional, if you also want font styles */
    font-style: var(--shiki-font-style) !important;
    font-weight: var(--shiki-font-weight) !important;
    text-decoration: var(--shiki-text-decoration) !important;
}



/* ------------------------ PROJECT CARD STYLES ----------------------- */
.project-card {
	@apply card relative flex sm:flex-row md:flex-col h-full pt-[var(--guide-gutter)] px-0 pb-[calc(var(--guide-gutter)*0.75)] sm:gap-[var(--guide-gutter)] md:gap-[calc(var(--guide-gutter)*0.66)]   justify-items-start hover:scale-[1.02] shadow-xl shadow-transparent hover:shadow-foreground/5;
	--project-accent: var(--foreground);
	--project-accent-border: hsl(var(--project-accent) / 0.025);
	--project-accent-border-glow: hsl(var(--project-accent) / 0.5);
	--project-accent-bg-glow: hsl(var(--project-accent) / 0.1);
}

.project-card::before {
	@apply absolute rounded-[inherit] h-full w-full left-0 top-0 opacity-0 transition-opacity duration-500 ease-in-out pointer-events-none;
	content: "";
	background: radial-gradient(
		250px circle at var(--mouse-x) var(--mouse-y),
		var(--project-accent-bg-glow) 0%,
		transparent 100%
	);
}

.project-card::after {
	content: "";
	pointer-events: none;
	position: absolute;
	inset: 0;
	border-radius: inherit;
	border: 1px solid transparent;
	background: radial-gradient(
			200px circle at var(--mouse-x) var(--mouse-y),
			var(--project-accent-border-glow) 0%,
			transparent 100%
		)
		border-box;
	mask:
		linear-gradient(#fff 0 0) padding-box,
		linear-gradient(#fff 0 0);
	mask-composite: exclude;
	opacity: 0;
	transition: opacity 300ms ease-in-out;
}

.project-card:hover::after {
	content: "";
	pointer-events: none;
	position: absolute;
	inset: 0;
	border-radius: inherit;
	border: 1px solid transparent;
	background: radial-gradient(
			200px circle at var(--mouse-x) var(--mouse-y),
			var(--project-accent-border-glow) 0%,
			transparent 100%
		)
		border-box;

	mask:
		linear-gradient(#fff 0 0) padding-box,
		linear-gradient(#fff 0 0);
	mask-composite: exclude;
	opacity: 1;
	transition: opacity 300ms ease-in-out;
}

.project-card:hover::before {
	@apply opacity-50;
}

.project-card:has(
		.project-card-content .project-card-arrow-link .project-card-arrow:hover
	)::before {
	@apply opacity-100 duration-300;
}

a:has(.project-card-img) {
	@apply max-h-full w-min justify-self-end sm:h-full md:h-auto rounded-lg transition-all duration-300 opacity-80 leading-none ml-[calc(var(--guide-gutter)-1px)];
}

a:has(.project-card-img):hover {
	@apply opacity-100 scale-[102%];
}

.project-card-img {
	@apply pointer-events-none sm:w-[calc(var(--one-w)-var(--guide-gutter))] md:w-[var(--one-w)] sm:h-full md:h-[var(--one-w)] overflow-hidden rounded-[inherit] md:aspect-square min-w-20 min-h-20;
}

.project-card-icon {
	@apply flex justify-center p-3 items-center w-full h-full pointer-events-none;
	background: radial-gradient(
		circle at 0% 100%,
		hsl(var(--foreground) / 0.1) -20%,
		transparent 170%
	);
}

.project-card-icon [data-icon] {
	@apply text-[2rem] sm:text-[hsl(var(--project-accent)/0.9)] md:text-[hsl(var(--project-accent)/0.8)] max-h-full transition-colors duration-300 ease-in-out;
}

a:hover .project-card-icon [data-icon] {
	@apply text-[hsl(var(--foreground)/0.9)];
}

/* .project-card-img img {
	@apply absolute top-0 left-0 object-cover w-full h-full max-h-full rounded-[inherit] opacity-10;  
} */

.project-card-accent {
	@apply rounded-lg absolute bottom-0 left-0 pointer-events-none w-full h-full;
}

.project-card-content {
	@apply flex flex-col justify-between w-full h-full;
}

.project-card-content * {
	@apply max-w-full;
}

.project-card-featured {
	@apply max-w-full h-min font-mono sm:text-xs md:text-sm uppercase tracking-widest place-content-start text-foreground/40 pt-[var(--guide-gutter)] pb-2;
}

.project-card-title {
	@apply inline h-min tracking-tight text-foreground/85 hover:text-foreground transition-colors duration-150 font-semibold text-pretty w-fit sm:text-2xl md:text-2xl mb-0 sm:leading-[1.25] md:leading-[1.25] mx-[calc(var(--guide-gutter))];
}

.project-card-category {
	@apply w-auto h-min font-semibold sm:text-xs md:text-xs uppercase tracking-widest pt-0 pb-3 place-content-start text-foreground/50 transform-none font-mono mx-[calc(var(--guide-gutter)+1px)];
}

.project-card-description {
	@apply h-min w-auto text-xs place-content-start leading-normal text-foreground/70 pb-[calc(var(--guide-gutter)*0.75)] mx-[calc(var(--guide-gutter))] text-pretty;
}

.project-card-tags {
	@apply flex-1 pr-[calc(var(--guide-gutter)*2.5)] pl-[calc(var(--guide-gutter)-2px)] w-full flex flex-row flex-wrap-reverse gap-0 self-end content-start;
}

.project-card-tag {
	@apply bg-foreground/0 hover:bg-foreground/0 text-foreground/40 hover:text-foreground/80 backdrop-blur-xl rounded-[250px] px-2.5 py-0.5 sm:text-3xs md:text-2xs font-mono uppercase whitespace-nowrap overflow-hidden place-self-end transition-all cursor-pointer tracking-wider border-2 border-transparent;
	position: relative;
	overflow: hidden;
	color: hsl(var(--foreground) / 0.5);
}

.project-card-tag::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: hsl(var(--tag-color) / 0.2); /* start with 0.5 opacity */
	z-index: -1;
	transition: background-color 150ms;
}

.project-card-tag:hover::before {
	background-color: hsl(var(--tag-color) / 0.35);
}

.project-card-tag:hover {
	border-color: transparent;
}

/* Project Card Tag Colours */

.html {
	--tag-color: var(--tag-html);
}
.css {
	--tag-color: var(--tag-css);
}
.javascript {
	--tag-color: var(--tag-javascript);
}
.astro {
	--tag-color: var(--tag-astro);
}
.tailwind-css {
	--tag-color: var(--tag-tailwind);
}
.react {
	--tag-color: var(--tag-react);
}
.sql {
	--tag-color: var(--tag-sql);
}
.c\# {
	--tag-color: var(--tag-csharp);
}
.\.net {
	--tag-color: var(--tag-dotnet);
}
.azure-cosmos-db {
	--tag-color: var(--tag-azure-cosmos);
}
.angular {
	--tag-color: var(--tag-angular);
}
.supabase {
	--tag-color: var(--tag-supabase);
}

.project-card-arrow-link {
	@apply absolute bottom-[calc(var(--guide-gutter)*0.75)] right-[var(--guide-gutter)] place-self-end;
}

.project-card-arrow {
	@apply nav-btn h-6 hover:fill-[hsl(var(--project-accent))];
}

.inline-back-arrow {
	@apply nav-btn h-5 mr-[calc(var(--guide-gutter)/2)] mb-[4px];
}
