/* SPACING */

:root {
	/* XLARGE - 1440+ */
	@media screen and (min-width: 1400px) {
		--main-width: 800px;
	}

	/* LARGE - 905-1439 */
	@media screen and (min-width: 905px) and (max-width: 1439px) {
		--main-width: 800px;
	}

	/* MEDIUM - 600-904 */
	@media screen and (min-width: 600px) and (max-width: 904px) {
		--main-width: 800px;
	}

	/* SMALL - 0-599 */
	@media screen and (max-width: 599px) {
		font-size: 14px;
		--main-width: 100%;
	}
}
