:root {
	/* Default */
	--background: 0.2086 0.0128 264.25;
	--midground: 0.4499 0.0257 268.11;
	--foreground: 0.6631 0.0329 267.06;

	&[data-theme="dark"] {
		--background: 0.2086 0.0128 264.25;
		--midground: 0.4499 0.0257 268.11;
		--foreground: 0.6631 0.0329 267.06;
	}

	&[data-theme="light"] {
		--background: 0.6631 0.0329 267.06;
		--midground: 0.4499 0.0257 268.11;
		--foreground: 0.2086 0.0128 264.25;
	}
}
