/* All colors in OKLCH */
:root[data-theme="dark"] {
		--background: 0% 0 42;
		--foreground: 95% 0.01 48;
		--card: var(--background);
		--card-foreground: var(--foreground);

		--theme-lightness: var(--theme-lightness-dark);
		--theme-contrast: var(--theme-contrast-dark);

		--shade-background: 0.4;
		--shade-foreground: 0.8;
		--shade-chroma: 0.15;

		/* --background: var(--theme-lightness) var(--theme-chroma) var(--theme-hue);
		--foreground: var(--theme-lightness-light) var(--theme-chroma)	var(--theme-hue); */

		--background-primary: oklch(28.62% 0.0145 226.58);
		--background-midpoint: oklch(25.28% 0.0105 242.13);
		--background-secondary: oklch(19.57% 0 0);
		
		--header: color-mix(
			in hsl,
			oklch(var(--background) / 0.2),
			var(--background-primary)
		);

		/* var(--theme-lightness) var(--theme-chroma) var(--theme-hue);
        var(--theme-lightness-light) var(--theme-chroma) var(--theme-hue); */

		/* --css-background: var(--theme-hue), var(--theme-saturation),
			var(--theme-darkness);
		--css-foreground: var(--theme-hue), var(--theme-saturation),
			var(--theme-lightness); */

		--popover: var(--theme-hue) var(--theme-saturation)
			var(--theme-darkness);
		--popover-foreground: var(--theme-hue) 9.1% var(--theme-lightness);
		--destructive: 1 62.8% 30.6%;
		--destructive-foreground: 1 9.1% var(--theme-lightness);
		--border: var(--theme-hue) 6.5% 15.1%;
		--input: var(--theme-hue) 6.5% 15.1%;
		--ring: var(--theme-hue) 5.7% 82.9%;

		/* --shadow-col: var(--background); */

		--light-img-opacity: 0;
		--dark-img-opacity: 1;

		/* --card-saturate: 80%;
		--card-sepia: 0%;
		--card-brightness: 250%;
		--card-contrast: 100%;
		--card-hue: 90deg; */

		/* --shiki: var(--shiki-dark) !important;
		--shiki-bg: var(--shiki-dark-bg) !important;
		--shiki-font-style: var(--shiki-dark-font-style) !important;
		--shiki-weight: var(--shiki-dark-font-weight) !important;
		--shiki-decoration: var(--shiki-dark-text-decoration) !important; */
	}

	:root[data-theme="light"] {
		--background: 100% 0 42;
		--foreground: 15% 0.01 48;

		--theme-lightness: var(--theme-lightness-light);
		--theme-contrast: var(--theme-contrast-light);

		--shade-background: 0.9;
		--shade-foreground: 0.4;
		--shade-chroma: 0.25;

		/* --background: var(--theme-lightness) var(--theme-chroma) */
		/* 	var(--theme-hue); */
		/* --foreground: var(--theme-lightness-dark) var(--theme-chroma) */
		/* 	var(--theme-hue); */
		--background-primary: oklch(87.3% 0 0);
		--background-secondary: oklch(85.76% 0 0);
		--background-tertiary: oklch(82.45% 0 0);

		--header: color-mix(
			in oklch,
			oklch(var(--background) / 0.2),
			var(--background-primary)
		);

		/* --css-background: var(--theme-hue), var(--theme-saturation),
			var(--theme-lightness);
		--css-foreground: var(--theme-hue), var(--theme-saturation),
			var(--theme-darkness); */

		--card-solid: 19 8% 92%;
		--popover: var(--theme-hue) 0% 100%;
		--popover-foreground: var(--theme-hue) var(--theme-saturation)
			var(--theme-darkness);
		--primary: var(--theme-hue) 9.8% 10%;
		--primary-foreground: var(--theme-hue) 9.1% var(--theme-lightness);
		--secondary: var(--theme-hue) 4.8% var(--theme-lightness);
		--secondary-foreground: var(--theme-hue) 9.8% 10%;
		--muted: var(--theme-hue) 4.8% 95.9%;
		--muted-foreground: var(--theme-hue) 5.3% 44.7%;
		--destructive: 1 84.2% 60.2%;
		--destructive-foreground: 1 9.1% var(--theme-lightness);
		--border: var(--theme-hue) 5.9% var(--theme-lightness);
		--input: var(--theme-hue) 5.9% var(--theme-lightness);
		--ring: var(--theme-hue) var(--theme-saturation) var(--theme-darkness);

		--light-img-opacity: 1;
		--dark-img-opacity: 0;

		/* --card-saturate: 50%;
		--card-brightness: 88%;
		--card-contrast: 200%;
		--card-hue: 90deg; */

		/* --shiki: var(--shiki-light) !important;
		--shiki-bg: var(--shiki-light-bg) !important;
		--shiki-font-style: var(--shiki-light-font-style) !important;
		--shiki-weight: var(--shiki-light-font-weight) !important;
		--shiki-decoration: var(--shiki-light-text-decoration) !important; */
	}


.page-background {
		@apply fixed left-0 top-0 z-0 h-[100vh] w-[100vw] opacity-0 transition-opacity delay-0 duration-200;

		background: linear-gradient(
			180deg,
			var(--background-primary) 0%,
			var(--background-secondary) 100%
		);
	}

	.page-background::before {
		@apply absolute left-0 top-0 h-full w-full bg-red-500;

		content: "";
		background: radial-gradient(
			ellipse 100% 150% at 100% 0%,
			var(--background-tertiary) -50%,
			transparent 100%
		);
	}

	:root[data-theme="dark"] #dark-background {
		@apply -z-10 opacity-100 delay-0;
	}

	#dark-background {
		--background-primary: oklch(28.62% 0.0145 226.58);
		--background-secondary: oklch(19.57% 0 0);
		--background-tertiary: oklch(31.42% 0.0098 164.3);
	}

	:root[data-theme="light"] #light-background {
		@apply -z-10 opacity-100 delay-0;
	}

	#light-background {
		--background-primary: oklch(87.3% 0 0);
		--background-secondary: oklch(85.76% 0 0);
		--background-tertiary: oklch(82.45% 0 0);
	}
