:root {
	/* Theme-Agnostic Settings */
    --accent-foreground: from oklch(var(--accent)) var(--shade-foreground) c h;
    --accent-background: from oklch(var(--accent)) var(--shade-background) c h;

	--border-background: oklch(var(--foreground)/0.2);
	--border-foreground: oklch(var(--foreground)/0.4);

	--card: var(--background);
	--card-foreground: var(--foreground);

	/* --destructive-light: ; */
	/* --destructive-dark: ; */

	--header: 
		color-mix(
			in hsl,
			var(--background-midpoint) 60%,
			transparent 40%
		);
	
	--tag-html: 66% 45% 41;
	--tag-css: 44% 23% 303;
	--tag-javascript: 88% 39% 100;
	--tag-astro: 61% 51% 6;
	--tag-tailwind: 85% 33% 198;
	--tag-react: 82% 36% 216;
	--tag-sql: 78% 36% 53;
	--tag-csharp: 39% 54% 288;
	--tag-dotnet: 48% 57% 284;
	--tag-azure-cosmos: 62% 30% 250;
	--tag-angular: 51% 52% 21;
	--tag-supabase: 77% 38% 160;

	/* Default */
	--logo-stroke: 30px;
	--logo-linecap: round;



	/* DARK THEMES */

	/* Default */
	--_dark-background: 0% 0 0;
	--_dark-foreground: 95% 0.01 48;
	--_dark-accent: 50% 0.008 226.58;
	--_dark-background-primary: 28.62% 0.0145 226.58;
	--_dark-background-secondary: 19.57% 0 0;
	--_dark-background-tertiary: 31.42% 0.0098 164.3;
	--_dark-background-midpoint: color-mix(in hsl, oklch(var(--_dark-background-primary)) 50%, oklch(var(--_dark-background-secondary)) 50%);
	--_dark-background-header: 25.62% 0.008 226.58;

	&[data-theme="dark"] {
		--background: var(--_dark-background);
		--foreground: var(--_dark-foreground);
		--accent: var(--_dark-accent);
		--accent-global: var(--_dark-accent);

		--destructive-background: var(--destructive-dark);
		--destructive-foreground: var(--destructive-light);

		--background-primary: var(--_dark-background-primary);
		--background-secondary: var(--_dark-background-secondary);
		--background-tertiary: var(--_dark-background-tertiary);

		--background-midpoint: var(--_dark-background-midpoint);
		--background-header: var(--_dark-background-header);

		--shade-background: 0.4;
		--shade-foreground: 0.8;
		--shade-chroma: 0.15;
		
		--logo-stroke: 24px;

		#dark-background {
			opacity: 1;
			z-index: -10;
			transition-delay: 0ms;
		}
	}

	#dark-background {
		--background-primary: var(--_dark-background-primary);
		--background-secondary: var(--_dark-background-secondary);
		--background-tertiary: var(--_dark-background-tertiary);
	}	



	/* Source */
	--_source-background: 0% 0 42;
	--_source-foreground: 95% 0.05 142.5;
	--_source-accent: 50% 0.277584 130.4661;
	--_source-background-primary: 0% 0 343.34;
	--_source-background-secondary: 10.38% 0.1872 143.24;
	--_source-background-tertiary: 13.53% 0.0739 142.5;
	--_source-background-midpoint: oklch(18.79% 0.0327 142.5); 
	--_source-background-header: 18.79% 0.0327 142.5;


	&[data-theme="source"] {
		--background: var(--_source-background);
		--foreground: var(--_source-foreground);
		--accent: var(--_source-accent);
		--accent-global: var(--_source-accent);

		--destructive-background: var(--destructive-dark);
		--destructive-foreground: var(--destructive-light);
	
		--background-primary: var(--_source-background-primary);
		--background-secondary: var(--_source-background-secondary);
		--background-tertiary: var(--_source-background-tertiary);

		--background-midpoint: var(--_source-background-midpoint);
		--background-header: var(--_source-background-header);

		--shade-background: 0.4;
		--shade-foreground: 0.8;
		--shade-chroma: 0.15;

		--logo-stroke: 22px;
		--logo-linecap: square;

		*, *::before, *::after {
			border-radius: 0px !important;
			font-family: GeistMono !important;

			not:code, not:pre {
				
			text-transform: uppercase !important;
			}
		}

		img {
			filter: sepia(100%) hue-rotate(50deg) brightness(60%) contrast(300%) !important;
		}
		
		#source-background {
			opacity: 1;
			z-index: -10;
			transition-delay: 0ms;
		}
	}

	#source-background {
		--background-primary: var(--_source-background-primary);
		--background-secondary: var(--_source-background-secondary);
		--background-tertiary: var(--_source-background-tertiary);
	}

	

	/* Carbon */
	--_carbon-background: 0% 0 42;
	--_carbon-foreground: 95% 0.01 48;
	--_carbon-accent: 50% 0.01 48;
	--_carbon-background-primary: 28.62% 0.0145 226.58;
	--_carbon-background-secondary: 19.57% 0 0;
	--_carbon-background-tertiary: 31.42% 0.0098 164.3;
	--_carbon-background-midpoint: color-mix(in hsl, oklch(var(--_carbon-background-primary)) 50%, oklch(var(--_carbon-background-secondary)) 50%);
	--_carbon-background-header: color-mix(in hsl, oklch(var(--_carbon-background-primary)) 50%, oklch(var(--_carbon-background-secondary)) 50%);

	&[data-theme="carbon"] {
		--background: var(--_carbon-background);
		--foreground: var(--_carbon-foreground);
		--accent-global: var(--_carbon-accent);

		--destructive-background: var(--destructive-dark);
		--destructive-foreground: var(--destructive-light);

		--background-primary: var(--_carbon-background-primary);
		--background-secondary: var(--_carbon-background-secondary);
		--background-tertiary: var(--_carbon-background-tertiary);

		--background-midpoint: var(--_carbon-background-midpoint);
		--background-header: var(--_carbon-background-header);

		--shade-background: 0.4;
		--shade-foreground: 0.8;
		--shade-chroma: 0.15;

		--logo-stroke: 25px;

		#carbon-background {
			opacity: 1;
			z-index: -10;
			transition-delay: 0ms;
		}
	}

	#carbon-background {
		--background-primary: var(--_carbon-background-primary);
		--background-secondary: var(--_carbon-background-secondary);
		--background-tertiary: var(--_carbon-background-tertiary);
	}



	/* LIGHT THEMES */

	/* Default */
	--_light-background: 100% 0 0;
	--_light-foreground: 15% 0.01 48;
	--_light-accent: 50% 0.01 48;
	--_light-background-primary: 88.3% 0 0;
	--_light-background-secondary: 80.45% 0 0;
	--_light-background-tertiary: 90.45% 0 0;
	--_light-background-midpoint: color-mix(in hsl, oklch(var(--_light-background-primary)) 50%, oklch(var(--_light-background-secondary)) 50%);
	--_light-background-header: 92% 0 0;

	&[data-theme="light"] {
		--background: var(--_light-background);
		--foreground: var(--_light-foreground);
		--accent: var(--_light-accent);
		--accent-global: var(--_light-accent);

		--destructive-background: var(--destructive-light);
		--destructive-foreground: var(--destructive-dark);

		--background-primary: var(--_light-background-primary);
		--background-secondary: var(--_light-background-secondary);
		--background-tertiary: var(--_light-background-tertiary);

		--background-midpoint: var(--_light-background-midpoint);
		--background-header: var(--_light-background-header);

		--shade-background: 0.9;
		--shade-foreground: 0.4;
		--shade-chroma: 0.25;

		--logo-stroke: 24px;

		#light-background {
			opacity: 1;
			z-index: -10;
			transition-delay: 0ms;
		}
	}

	#light-background {
		--background-primary: var(--_light-background-primary);
		--background-secondary: var(--_light-background-secondary);
		--background-tertiary: var(--_light-background-tertiary);
	}



	/* Golden */
	--_golden-background: 100% 0 0;
	--_golden-foreground: 15% 0.01 48;
	--_golden-accent: 50% 0.01 48;
	--_golden-background-primary: 87.3% 0 0;
	--_golden-background-secondary: 82.45% 0 0;
	--_golden-background-tertiary: 82.45% 0 0;
	--_golden-background-midpoint: color-mix(in hsl, oklch(var(--_golden-background-primary)) 50%, oklch(var(--_golden-background-secondary)) 50%);
	--_golden-background-header: oklch(92% 0 0 / 0.5);

	&[data-theme="golden"] {
		--background: var(--_golden-background);
		--foreground: var(--_golden-foreground);
		--accent-global: var(--_golden-accent);

		--destructive-background: var(--destructive-light);
		--destructive-foreground: var(--destructive-dark);

		--background-primary: var(--_golden-background-primary);
		--background-secondary: var(--_golden-background-secondary);
		--background-tertiary: var(--_golden-background-tertiary);

		--background-midpoint: var(--_golden-background-midpoint);
		--background-header: var(--_golden-background-header);

		--shade-background: 0.9;
		--shade-foreground: 0.4;
		--shade-chroma: 0.25;

		--logo-stroke: 30px;

		#golden-background {
			opacity: 1;
			z-index: -10;
			transition-delay: 0ms;
		}
	}

	#golden-background {
		--background-primary: var(--_golden-background-primary);
		--background-secondary: var(--_golden-background-secondary);
		--background-tertiary: var(--_golden-background-tertiary);
	}



	/* Spring */
	--_spring-background: 100% 0 0;
	--_spring-foreground: 15% 0.01 48;
	--_spring-accent: 50% 0.01 48;
	--_spring-background-primary: 87.3% 0 0;
	--_spring-background-secondary: 82.45% 0 0;
	--_spring-background-tertiary: 82.45% 0 0;
	--_spring-background-midpoint: color-mix(in hsl, oklch(var(--_spring-background-primary)) 50%, oklch(var(--_spring-background-secondary)) 50%);
	--_spring-background-header: oklch(92% 0 0 / 0.5);

	&[data-theme="spring"] {
		--background: var(--_spring-background);
		--foreground: var(--_spring-foreground);
		--accent-global: var(--_spring-accent);

		--destructive-background: var(--destructive-light);
		--destructive-foreground: var(--destructive-dark);

		--background-primary: var(--_spring-background-primary);
		--background-secondary: var(--_spring-background-secondary);
		--background-tertiary: var(--_spring-background-tertiary);

		--background-midpoint: var(--_spring-background-midpoint);
		--background-header: var(--_spring-background-header);

		--shade-background: 0.9;
		--shade-foreground: 0.4;
		--shade-chroma: 0.25;

		--logo-stroke: 30px;

		#spring-background {
			opacity: 1;
			z-index: -10;
			transition-delay: 0ms;
		}
	}

	#spring-background {
		--background-primary: var(--_spring-background-primary);
		--background-secondary: var(--_spring-background-secondary);
		--background-tertiary: var(--_spring-background-tertiary);
	}
}
