<div id="backgrounds">
	<div id="light-background" class="page-background"></div>
	<div id="dark-background" class="page-background"></div>
</div>

<style>
	.page-background {
		@apply fixed absolute left-0 top-0 z-0 h-full w-[100vw] opacity-0 transition-opacity delay-0 duration-200;
	}

	#dark-background {
		@apply bg-neutral-950;
	}

	:root[data-theme="dark"] #dark-background {
		@apply -z-10 opacity-100 delay-0;
	}

	#light-background {
		@apply bg-neutral-300;
	}

	:root[data-theme="light"] #light-background {
		@apply -z-10 opacity-100 delay-0;
	}
</style>
