<div id="backgrounds" class="-z-1 w-full flex items-start justify-center h-full absolute">
	<div id="light-background" class="page-background"></div>
	<div id="dark-background" class="page-background"></div>
	<div id="source-background" class="page-background"></div>
	<div id="carbon-background" class="page-background"></div>
	<div id="golden-background" class="page-background"></div>
	<div id="spring-background" class="page-background"></div>
	<div
		id="background-borders"
		class="w-col-full border-border-background sm:mt-gutter lg:mt-gutter-2 h-12 border-r border-l border-t"
	>
	</div>
</div>
<!-- <div -->
<!-- 	id="background-pattern" -->
<!-- 	class="absolute top-0 left-0 h-full w-full [background-image:linear-gradient(to_right,oklch(var(--foreground)/0.025)_1px,transparent_1px),linear-gradient(to_bottom,oklch(var(--foreground)/0.025)_1px,transparent_1px)] [background-size:calc(var(--col-1)/2)_calc(var(--col-1)/2)] [background-attachment:local] [background-position:var(--col-gutter-1/2)_var(--col-gutter)] !opacity-100 [-webkit-mask-image:linear-gradient(to_bottom,rgba(0,0,0,1)_30%,rgba(0,0,0,0)_100%)] [mask-image:linear-gradient(to_bottom,rgba(0,0,0,1)_0px,rgba(0,0,0,0)_400px)]" -->
<!-- > -->
<!-- </div> -->
