<div id="backgrounds">
	<div id="light-background" class="page-background"></div>
	<div id="dark-background" class="page-background"></div>
	<div id="source-background" class="page-background"></div>
	<div id="carbon-background" class="page-background"></div>
	<div id="golden-background" class="page-background"></div>
	<div id="spring-background" class="page-background"></div>
</div>
