---
import Social from "./Social.astro";
---

<footer
	class="flex h-[var(--footer-height)] w-full bg-[oklch(var(--foreground)/0.4)] backdrop-blur-xl justify-center items-center self-end"
>
	<div class="flex justify-center items-center gap-2">
		<Social platform="Twitter" username="jordansherringt" />
		<Social platform="GitHub" username="jdsherrington" />
		<Social platform="YouTube" username="@jordansherrington" />
	</div>
</footer>
