<header transition:persist="header" id="header" class="header">
	<div class="header-gradient"></div>
	<nav>
		<a href="/" class="isolate">
			<svg class="header-logo" viewBox="0 0 61 32">
				<path
					id="logo"
					d="M 58.625 25.724 C 57.138 26.002 55.709 25.023 55.43 23.537 L 54.172 16.81 C 53.893 15.324 54.873 13.894 56.359 13.615 C 57.846 13.337 59.275 14.317 59.554 15.803 L 60.812 22.529 C 61.091 24.016 60.111 25.445 58.625 25.724 Z M 55.352 8.234 C 53.865 8.512 52.436 7.533 52.157 6.046 L 51.654 3.356 C 51.376 1.87 52.355 0.44 53.842 0.162 C 55.327 -0.116 56.758 0.863 57.036 2.349 L 57.54 5.04 C 57.817 6.526 56.838 7.956 55.352 8.234 Z M 48.617 31.774 C 47.131 32.052 45.701 31.073 45.422 29.588 L 44.668 25.551 C 44.39 24.065 45.369 22.635 46.856 22.356 C 48.34 22.078 49.771 23.059 50.049 24.543 L 50.805 28.58 C 51.083 30.066 50.103 31.496 48.617 31.774 Z M 45.848 16.975 C 44.362 17.254 42.932 16.274 42.654 14.789 L 41.646 9.406 C 41.368 7.92 42.348 6.49 43.834 6.212 C 45.319 5.934 46.75 6.913 47.028 8.4 L 48.035 13.781 C 48.313 15.266 47.334 16.697 45.848 16.975 Z M 36.344 25.717 C 34.857 25.994 33.427 25.015 33.149 23.529 L 29.373 3.348 C 29.095 1.863 30.074 0.433 31.559 0.155 C 33.045 -0.123 34.475 0.855 34.753 2.342 L 38.53 22.522 C 38.809 24.008 37.83 25.438 36.344 25.717 Z M 26.336 31.767 C 24.849 32.045 23.42 31.065 23.141 29.579 L 19.365 9.399 C 19.087 7.913 20.066 6.483 21.551 6.205 C 23.038 5.927 24.467 6.906 24.746 8.392 L 28.523 28.572 C 28.801 30.059 27.822 31.489 26.336 31.767 Z M 14.062 25.709 C 12.575 25.987 11.146 25.008 10.867 23.522 L 7.09 3.34 C 6.812 1.855 7.793 0.424 9.278 0.146 C 10.764 -0.132 12.194 0.848 12.472 2.334 L 16.249 22.514 C 16.527 24.001 15.548 25.43 14.062 25.709 Z M 4.054 31.759 C 2.567 32.037 1.138 31.059 0.86 29.572 L 0.104 25.536 C -0.174 24.05 0.806 22.62 2.292 22.342 C 3.777 22.063 5.208 23.043 5.486 24.529 L 6.242 28.565 C 6.519 30.051 5.54 31.481 4.054 31.759 Z"
				></path>
			</svg>
		</a>

		<div class="nav-items">
			<a class="nav-button" href="/blog">Blog</a>
			<a class="nav-button" href="/projects">Projects</a>
			<a class="nav-button" href="/resources">Resources</a>
			<a class="nav-button theme-toggle">
				<svg
					viewBox="0 0 24 24"
					fill="none"
					stroke="currentColor"
					stroke-width="1.5"
					stroke-linecap="round"
					stroke-linejoin="round"
					class="dark-icon"
				>
					<path
						d="M 12 1.987 C 8.151 5.836 9.912 12.407 15.17 13.816 C 17.61 14.469 20.213 13.772 21.999 11.986 C 21.999 19.683 13.667 24.494 7 20.645 C 0.334 16.797 0.334 7.175 7 3.326 C 8.52 2.449 10.245 1.987 12 1.987 Z"
					></path>
				</svg>
				<svg
					width="24"
					height="24"
					viewBox="0 0 24 24"
					fill="none"
					stroke="currentColor"
					stroke-width="1.5"
					stroke-linecap="round"
					stroke-linejoin="round"
					class="light-icon"
				>
					<defs>
						<bx:grid x="0" y="0" width="100" height="100"></bx:grid>
					</defs>
					<path
						d="M 17 12 C 17 14.761 14.761 17 12 17 C 9.239 17 7 14.761 7 12 C 7 9.239 9.239 7 12 7 C 14.761 7 17 9.239 17 12 Z M 12 2 L 12 4 M 12 20 L 12 22 M 4.93 4.93 L 6.34 6.34 M 17.66 17.66 L 19.07 19.07 M 2 12 L 4 12 M 20 12 L 22 12 M 6.34 17.66 L 4.93 19.07 M 19.07 4.93 L 17.66 6.34"
					></path>
				</svg>
			</a>
			<div class="nav-button-underline"></div>
			<div class="nav-button-hover"></div>
		</div>
	</nav>
</header>

<style>
	header {
		@apply pointer-events-none sticky top-0 flex h-[calc(var(--nav-height)+var(--guide-gutter)*1.5)] items-start justify-center;
		transition: top ease-in-out 300ms;
		z-index: 1000 !important;
	}

	header::after {
		content: "";
		@apply pointer-events-none absolute left-0 top-0 w-full sm:h-[calc(var(--nav-height)+var(--guide-gutter)*1.5)] sm:opacity-100 md:h-full md:opacity-100;
	}

	header.scrolled {
		top: 0px !important;
	}

	.header-gradient {
		@apply absolute top-0 h-[calc(var(--nav-height)+var(--guide-gutter)*2)] w-full bg-[oklch(var(--background))];
		mask-image: linear-gradient(
			180deg,
			rgba(0, 0, 0, 1) 0%,
			rgba(0, 0, 0, 0) 66%
		);
		z-index: 1001;
	}

	.header-gradient::after {
		@apply absolute top-0 h-[calc(var(--nav-height)+var(--guide-gutter)*2)] w-full bg-[oklch(var(--accent-gradient))] opacity-25 transition-all duration-500 ease-in-out;

        content: '';
		z-index: 1001;
	}

	header.scrolled .header-gradient::after {
		@apply opacity-0;
	}

	nav {
		@apply pointer-events-auto m-[calc(var(--guide-gutter)/2)] mb-0 mt-[calc(var(--guide-gutter))] flex h-[var(--nav-height)] w-[calc(var(--full-w)+var(--guide-gutter)*2)] items-center rounded-lg pl-[calc(var(--guide-gutter)*1.25)] pr-[calc(var(--guide-gutter)*1)] shadow-2xl shadow-transparent backdrop-blur-none sm:justify-center md:justify-between;

		border-color: transparent;
		border-width: 0px;
		border-style: solid;
		position: relative;
		z-index: 1002 !important;

		transition:
			border-radius ease-in-out 300ms,
			margin ease-out 200ms,
			padding ease-in-out 300ms,
			height 600ms,
			box-shadow ease-in-out 300ms,
			background-color 250ms,
			border-color 250ms,
			backdrop-filter 200ms ease-in-out;
	}

	header.scrolled nav {
		@apply mt-[calc(var(--guide-gutter)/2)] sm:bg-transparent sm:shadow-transparent sm:backdrop-blur-none md:bg-[var(--header)] md:shadow-[oklch(var(--background)/0.5)] md:backdrop-blur-2xl;
	}

	nav::after {
		@apply pointer-events-none absolute inset-0 rounded-[inherit] border border-transparent opacity-0 transition-opacity duration-300 ease-in-out;
		content: "";
		background: linear-gradient(
				180deg,
				oklch(var(--foreground) / 0.08) 0%,
				oklch(var(--foreground) / 0.03) 100%
			)
			border-box;
		mask:
			linear-gradient(#fff 0 0) padding-box,
			linear-gradient(#fff 0 0);
		mask-composite: exclude;
	}

	header.scrolled nav::after {
		@apply sm:opacity-0 md:opacity-100;
	}

	.header-logo {
		@apply z-50 inline-block h-9 w-auto fill-[oklch(var(--accent))] transition-colors duration-500 ease-in-out md:hover:fill-foreground;
	}

	header.scrolled .header-logo {
		@apply sm:fill-[oklch(var(--background)/0)] md:fill-foreground;
	}

	.nav-items {
		@apply relative items-center gap-0 sm:hidden md:flex;
	}

	.nav-items .nav-button {
		@apply px-4 pb-[calc(0.5rem-2px)] pt-2 font-mono text-sm uppercase text-[oklch(var(--foreground)/0.7)];
	}

	.nav-items .theme-toggle {
		@apply px-3 pb-2.5 pt-2 font-mono text-sm uppercase text-[oklch(var(--foreground)/0.7)];
	}

	.nav-items .theme-toggle svg {
		@apply h-[20px] w-[24px];
	}

	.nav-button.active {
		color: oklch(var(--foreground)) !important;
	}

	.nav-button-underline {
		@apply pointer-events-none absolute left-0 top-0 h-full border-b border-[oklch(var(--foreground)/0.5)] bg-transparent opacity-0 transition-all duration-200 ease-in-out;
	}

	.nav-button-hover {
		@apply pointer-events-none absolute top-0 h-full rounded-lg bg-[oklch(var(--foreground)/0.05)] opacity-0;
	}
</style>

<script>
	function setActiveLink() {
		const underline = document.querySelector(
			".nav-button-underline"
		) as HTMLElement;
		const hover = document.querySelector(
			".nav-button-hover"
		) as HTMLElement;

		const currentPath = "/" + window.location.pathname.split("/")[1];

		// Remove active class from all links
		document.querySelectorAll("nav a").forEach((btn) => {
			btn.classList.remove("active");
			if (btn.getAttribute("href") === currentPath) {
				btn.classList.add("active");
			}
			// btn.addEventListener("click", () => {
			// 	const newPage = btn.getAttribute("href") as string;
			//     sessionStorage.setItem("oldPage", currentPath)
			// 	sessionStorage.setItem("newPage", newPage);
			// });
		});

		const activeButton = document.querySelector(
			".nav-button.active"
		) as HTMLElement;
		if (activeButton) {
			const activeRect = activeButton.getBoundingClientRect();

			underline.style.width = `${activeRect.width - 32}px`;
			underline.style.left = `${activeButton.offsetLeft + 16}px`;
			underline.style.opacity = "1";
		} else {
			underline.style.opacity = "0";
		}

		const navItems = document.querySelector(".nav-items") as HTMLElement;
		navItems.addEventListener("mouseenter", () => {
			hover.style.transition = "opacity 0.2s ease";
			setTimeout(() => {
				hover.style.transition =
					"transform 0.2s ease, width 0.2s ease, opacity 0.2s ease";
			}, 100);
		});
		navItems.addEventListener("mouseleave", () => {
			hover.style.transition = "opacity 0.2s ease";
		});

		document.querySelectorAll(".nav-button").forEach((button) => {
			const btn = button as HTMLElement;
			btn.addEventListener("mouseenter", () => {
				const btnRect = btn.getBoundingClientRect();
				const parentRect = btn.parentElement!.getBoundingClientRect();

				hover.style.width = `${btnRect.width}px`;
				hover.style.transform = `translateX(${btnRect.left - parentRect.left}px)`;

				requestAnimationFrame(() => {
					hover.style.opacity = "1";
					hover.style.transform = `translateX(${btnRect.left - parentRect.left}px)`;
				});
			});

			btn.addEventListener("mouseleave", () => {
				hover.style.opacity = "0";
			});
		});
	}

	document.addEventListener("astro:page-load", setActiveLink);
</script>
