---
import ThemeDrawer from "@/components/ThemeDrawer.astro";
import NavigationButton from "@/components/NavigationButton.astro";
import { Icon } from "astro-icon/components";

interface Props {
	pageTitle: string;
}
const { pageTitle } = Astro.props;
---

<header
	transition:persist="header"
	id="header"
	class="group w-col-full border-border-background pointer-events-none top-0 z-1001 flex items-start justify-center"
>
	</header>
<nav
	id="desktop-nav"
	transition:persist="nav"
	class="rounded-base sm:mt-gutter lg:mt-gutter-2 border h-12 bg-background-header/10 border-border-background border-l-transparent border-r-transparent linear pointer-events-auto sticky top-[-1px] z-1000 flex w-col-full items-center shadow-2xl shadow-transparent [transition:padding_0ms_ease-in-out,background-color_0ms,ease-in-out,height_0ms_ease-in-out] before:absolute before:inset-0 before:w-full before:backdrop-blur-3xl sm:justify-center md:justify-between"
	
>
	<a
		href="/"
		id="header-logo-link"
		class="border-border-background relative isolate flex h-full w-auto flex-row gap-0.5 transition-all duration-300 ease-in-out sm:items-center md:items-center md:justify-items-center in-[.scrolled]:md:opacity-100 in-[.scrolled]:md:blur-none"
	>
		<!--	<Icon class="header-logo" name="header" /> -->

		<svg
			class="fill-border-foreground group/logo top-0 left-0 z-50 inline-block h-full w-auto opacity-70 transition-all duration-300 ease-in-out hover:opacity-100 p-3 ml-0.5"
			xmlns="http://www.w3.org/2000/svg"
			viewBox="0 0 26.722914 5.8208394"
		>
			
		<g
			 transform="translate(-5.8208329,-12.435413)">
			<g
			   id="header-logo"
			   class="transition-discrete in-data-[theme=source]:hidden"
			   transform="matrix(0.26458333,0,0,0.26458333,-36.094164,-60.457292)">
			  <path
				 class=""
				 d="m 186.41889,284.5 6,2 v 5 h 12 v 6 h -18 z m -4,-8.99999 h 22.00001 c 3,0 6,3 6,6 l -1e-5,9.99999 h -6 v -7 c 0,-2.49999 -0.49999,-3 -3,-3 h -16 c -2.5,10e-6 -3,0.50001 -3,3 v 7.00001 c 1e-5,3 -3,6 -6,6 l -18,-2e-5 v -6 l 15,10e-6 c 2.5,10e-6 3,-0.49999 3,-3 v -6.99999 c 0,-3 3,-6 6,-6 z"
				 style="stroke:none"
				 />
			  <path
				 class="group-hover/logo:fill-accent-foreground fill-accent group-hover/logo:ease-flicker transition-colors duration-300 ease-in-out"
				 d="m 245.66889,283.75 2.75,-8.25 2.75,8.25 8.25,2.75 -8.25,2.75 -2.75,8.25 -2.75,-8.25 -8.25,-2.75 z"
				 style="stroke:none;stroke-width:1.375"
				 />
			  <path
				 class=""
				 d="m 210.41889,291.5 h 18 c 2.50001,0 3,-0.49999 3,-3 v -4 l 6,2.00001 1e-5,5 c 1e-5,3 -3,6 -6,6 h -21.00001 z m 27,-16 v 6 h -15 c -2.49999,0 -2.99999,0.50001 -3,3 l -1e-5,4 -6,-2 2e-5,-4.99999 c 1e-5,-3 3,-6 6,-6 z"
				 style="stroke:none"
				 />
			</g>
		</g>
		<g
			 transform="translate(-5.2916662,-49.212496)">
			 <g
			   id="header-logo-source"
			   class="transition-discrete hidden in-data-[theme=source]:block"
			   transform="matrix(0.26458333,0,0,0.26458333,-36.623331,-23.680209)">
			  <path
				 class=""
				 d="m 186.41889,284.5 3,-10e-6 v 2 l 3,10e-6 v 5 h 12 v 6 h -18 z m 21,-9.00001 v 3 h 3 V 291.5 h -6 v -10.00001 h -22 v 13 h -3 v 3 h -21 v -6 h 18 v -13 h 3 v -3 z"
				 style="stroke:none"
				 />
			  <path
				 class="group-hover/logo:fill-accent-foreground fill-accent group-hover/logo:ease-flicker transition-colors duration-300 ease-in-out"
				 d="m 237.41889,285.49999 h 4 v -1 h 3 v -2 h 2 v -3 h 1 v -4 h 2 v 4 h 1 v 3 h 2 v 2 h 3 v 1 h 4 v 2 h -4 v 1 h -3 v 2 h -2 v 3 h -1 v 4 h -2 v -4 h -1 v -3 h -2 v -2 h -3 v -1 h -4 z"
				 style="stroke:none;stroke-width:1.375"
				 />
			  <path
				 class=""
				 d="m 210.41889,291.5 21,-10e-6 V 284.5 l 3,-10e-6 v 2 l 3,2e-5 v 7.99998 h -3 v 3 l -24,2e-5 z m 27,-16 v 6 l -18,-10e-6 -1e-5,7.00001 -2.99999,-10e-6 v -2 l -3.00001,10e-6 1e-5,-8.00001 h 3 v -3 z"
				 style="stroke:none"
				 />
			</g>
		</g>
		</svg>
	</a>

	<div
		id="desktop-nav-items"
		class="border-border-background relative h-full items-center gap-0 sm:hidden md:flex border-l"
	>
		<a class="desktop-nav-button desktop-nav-link" href="/blog">Blog</a>
		<a class="desktop-nav-button desktop-nav-link" href="/projects"
			>Projects</a
		>
		<a class="desktop-nav-button desktop-nav-link" href="/resources"
			>Resources</a
		>
		<a
			id="desktop-theme-menu-btn"
			class="desktop-nav-button menu-btn group/menu text-foreground/70 [.open]:bg-accent-foreground before:bg-glow-btn before:rounded-base after:menu-btn-border border-foreground/0 [.open]:border-foreground/5 peer relative border px-3 font-mono uppercase before:pointer-events-none before:absolute before:top-0 before:left-0 before:h-full before:w-full before:opacity-0 before:transition-opacity before:duration-300 before:ease-in-out before:content-[''] after:opacity-0 hover:before:opacity-100 [.open]:after:opacity-80"
		>
			<svg
				id="desktop-theme-menu-icon"
				class="fill-foreground stroke-foreground in-[.open]:fill-accent-background in-[.open]:stroke-accent-background h-auto w-5 scale-100 opacity-40 hover:opacity-60 transition-all duration-200 ease-in-out in-[.open]:rotate-90"
				viewBox="0 0 24 24"
				fill="currentColor"
				stroke="currentColor"
				stroke-width="2"
			>
				<g
					transform="matrix(1, 0, 0, 1, -204.615997, -72.276001)"
					style="transform-origin: 204.616px 72.276px;"
				>
					<path
						d="M 227.616 84.276 C 227.616 90.351 222.692 95.276 216.616 95.276 C 210.541 95.276 205.616 90.351 205.616 84.276 C 205.616 78.201 210.541 73.276 216.616 73.276 C 222.692 73.276 227.616 78.201 227.616 84.276 Z"
						style="fill: none; stroke-width: 2px;"></path>
					<path
						d="M 216.617 78.276 C 219.93 78.276 222.617 80.962 222.617 84.276 C 222.617 87.59 219.93 90.276 216.617 90.276 Z M 216.616 95.276 C 222.691 95.276 227.616 90.351 227.616 84.276 C 227.616 78.201 222.691 73.276 216.616 73.276 Z"
						style="stroke-width: 0px; isolation: isolate;"></path>
					<path
						d="M 210.617 90.276 C 213.93 90.276 216.617 87.59 216.617 84.276 C 216.617 80.962 213.93 78.276 210.617 78.276"
						style="stroke-width: 0px; isolation: isolate; transform-box: fill-box; transform-origin: 50% 50%;"
						transform="matrix(-1, 0, 0, -1, 0.000008, 0.000004)"
					></path>
				</g>
			</svg>
			<ThemeDrawer
				class="*:-translate-y-[calc(100%)] *:border-t-0 *:in-[.open]:translate-y-0 pointer-events-none absolute top-[calc(100%+2px)] right-[-2px] h-fit w-fit overflow-hidden"
			/>
		</a>
		<div
			id="desktop-nav-active"
			class="border-accent bg-accent/20 pointer-events-none absolute top-0 left-0 -mt-[1px] -ml-[1px] h-[calc(100%+2px)] !rounded-none border opacity-0 blur-none transition-all duration-200 ease-in-out"
		>
		</div>
	</div>
</nav>

<script>
	function setActiveLink() {
		const activeBox = document.getElementById(
			"desktop-nav-active",
		) as HTMLElement;

		const navItems = document.getElementById(
			"desktop-nav-items",
		) as HTMLElement;

		const currentPath = "/" + window.location.pathname.split("/")[1];

		// Set initial position of activeBox
		if (activeBox.style.left == "0px") {
			activeBox.style.left = `${navItems.offsetLeft}px`;
		}

		// Remove active class from all links
		navItems.querySelectorAll("a").forEach((btn) => {
			btn.classList.remove("active");
			if (btn.getAttribute("href") === currentPath) {
				btn.classList.add("active");
			}
		});

		const activeButton = document.querySelector(
			".desktop-nav-button.active",
		) as HTMLElement;

		// Move activeBox to active nav button
		if (activeButton) {
			setTimeout(() => {
				const activeRect = activeButton.getBoundingClientRect();

				activeBox.style.width = `${activeRect.width + 1}px`;
				activeBox.style.left = `${activeButton.offsetLeft}px`;
				setTimeout(() => {
					activeBox.classList.add("opacity-75");
					activeBox.classList.remove("opacity-0");
				}, 150);
			}, 10);
		} else {
			activeBox.classList.add("opacity-0");
			activeBox.classList.remove("opacity-75");
			setTimeout(() => {
				activeBox.style.left = `0px`;
			}, 150);
		}
	}

	setActiveLink();
	document.addEventListener("astro:page-load", setActiveLink);
	window.addEventListener("resize", setActiveLink);
</script>

<script>
	function updateTitle() {
		const pageTitle = document.title;
		const titleElement = document.getElementById(
			"mobile-header-page-title",
		);

		if (titleElement) {
			setTimeout(() => {
				titleElement.textContent = pageTitle;
			}, 400);
		}
	}

	updateTitle();
	document.addEventListener("astro:after-swap", updateTitle);
</script>


