---
// import Hamburger from "./Hamburger.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<header
	transition:persist
	id="header"
	class="flex h-0 sm:mb-28 md:mb-[var(--header-padding)] sticky z-40 items-start justify-center top-0"
>
	<div
		id="nav"
		class="nav flex items-center justify-between sm:h-[100px] md:h-[var(--nav-height)] sm:w-full md:w-[calc(var(--full-w)+var(--guide-gutter)+var(--guide-gutter))] shadow-xl shadow-transparent sm:mt-0 md:mt-[var(--header-nav-diff)] pl-10 pr-10 bg-transparent rounded-[var(--radius)]"
	>
		<a href="/">
			<h1
				class="font-bold tracking-tight text-2xl select-none leading-tight"
			>
				Jordan Sherrington
			</h1>
		</a>
		<div class="flex items-center space-x-2 nav-button">
			<a class="group" href="/blog">Blog</a>
			<a class="group" href="/projects">Projects</a>
			<a class="group" href="/resources">Resources</a>
			<ThemeIcon />
		</div>
	</div>
</header>

<script is:inline>
	function detachHeader() {
		const header = document.querySelector("#header"),
			nav = document.querySelector("#nav");
		setTimeout(() => {
			if (header && nav) {
				if (window.scrollY > 10) {
					header.classList.add("detached");
					nav.classList.add("detached");
				} else {
					header.classList.remove("detached");
					nav.classList.remove("detached");
				}
			}
		}, 150);
	}

	document.addEventListener("scroll", function () {
		detachHeader();
	});
</script>
