---
import { Icon } from "astro-icon/components";
---

<header transition:persist="header" id="header" class="header">
	<nav>
		<a href="/" class="isolate">
			<!--	<Icon class="header-logo" name="header" /> -->
			<svg
				class="header-logo"
				xmlns="http://www.w3.org/2000/svg"
				viewBox="0 0 500 182"
				stroke="currentColor"
				fill="currentColor"
			>
				<defs>
					<bx:grid x="0" y="0" width="2.5" height="2.5"></bx:grid>
				</defs>
				<g transform="matrix(1, 0, 0, 1, -0.000094, 0.000095)">
					<path
						style="fill: none; stroke-linecap: round;"
						d="M 245 90 C 245 88.84 245 57.5 245 55 C 245 35 230 20 210 20 C 207.5 20 127.5 20 125 20 C 105 20 90 35 90 55 L 90 125 C 90 145 75 160 55 160 C 35 160 20 145 20 125 L 20 90"
					></path>
					<path
						style="fill: none; stroke-linecap: round;"
						d="M 160 90 C 160 90 160 147.5 160 160 C 170 160 345 160 347.5 160 C 367.5 160 382.5 145 382.5 125 C 382.5 105 367.5 90 347.5 90 C 345 90 340 90 337.5 90 C 317.5 90 302.5 75 302.5 55 C 302.5 35 317.5 20 337.5 20 C 340 20 380 20 382.5 20"
					></path>
					<g
						transform="matrix(1.149999, 0, 0, 1.149999, -52.374329, -183.131683)"
						style=""
					>
						<bx:title>Star</bx:title>
						<path
							style="stroke: none; "
							d="M 378.152 211.419 C 412.934 211.419 430.326 194.027 430.326 159.245 C 430.326 194.027 447.718 211.419 482.5 211.419 C 447.718 211.419 430.326 228.811 430.326 263.593 C 430.326 228.811 412.934 211.419 378.152 211.419 Z"
						></path>
					</g>
				</g>
			</svg>
			<!-- <svg class="header-logo" viewBox="0 0 61 32"> -->
			<!-- 	<path -->
			<!-- 		id="logo" -->
			<!-- 		d="M 58.625 25.724 C 57.138 26.002 55.709 25.023 55.43 23.537 L 54.172 16.81 C 53.893 15.324 54.873 13.894 56.359 13.615 C 57.846 13.337 59.275 14.317 59.554 15.803 L 60.812 22.529 C 61.091 24.016 60.111 25.445 58.625 25.724 Z M 55.352 8.234 C 53.865 8.512 52.436 7.533 52.157 6.046 L 51.654 3.356 C 51.376 1.87 52.355 0.44 53.842 0.162 C 55.327 -0.116 56.758 0.863 57.036 2.349 L 57.54 5.04 C 57.817 6.526 56.838 7.956 55.352 8.234 Z M 48.617 31.774 C 47.131 32.052 45.701 31.073 45.4 `card-accen22 29.588 L 44.668 25.551 C 44.39 24.065 45.369 22.635 46.856 22.356 C 48.34 22.078 49.771 23.059 50.049 24.543 L 50.805 28.58 C 51.083 30.066 50.103 31.496 48.617 31.774 Z M 45.848 16.975 C 44.362 17.254 42.932 16.274 42.654 14.789 L 41.646 9.406 C 41.368 7.92 42.348 6.49 43.834 6.212 C 45.319 5.934 46.75 6.913 47.028 8.4 L 48.035 13.781 C 48.313 15.266 47.334 16.697 45.848 16.975 Z M 36.344 25.717 C 34.857 25.994 33.427 25.015 33.149 23.529 L 29.373 3.348 C 29.095 1.863 30.074 0.433 31.559 0.155 C 33.045 -0.123 34.475 0.855 34.753 2.342 L 38.53 22.522 C 38.809 24.008 37.83 25.438 36.344 25.717 Z M 26.336 31.767 C 24.849 32.045 23.42 31.065 23.141 29.579 L 19.365 9.399 C 19.087 7.913 20.066 6.483 21.551 6.205 C 23.038 5.927 24.467 6.906 24.746 8.392 L 28.523 28.572 C 28.801 30.059 27.822 31.489 26.336 31.767 Z M 14.062 25.709 C 12.575 25.987 11.146 25.008 10.867 23.522 L 7.09 3.34 C 6.812 1.855 7.793 0.424 9.278 0.146 C 10.764 -0.132 12.194 0.848 12.472 2.334 L 16.249 22.514 C 16.527 24.001 15.548 25.43 14.062 25.709 Z M 4.054 31.759 C 2.567 32.037 1.138 31.059 0.86 29.572 L 0.104 25.536 C -0.174 24.05 0.806 22.62 2.292 22.342 C 3.777 22.063 5.208 23.043 5.486 24.529 L 6.242 28.565 C 6.519 30.051 5.54 31.481 4.054 31.759 Z" -->
			<!-- 	></path> -->
			<!-- < `card-accen/svg> -->
		</a>

		<div class="nav-items">
			<a class="nav-button" href="/blog">Blog</a>
			<a class="nav-button" href="/projects">Projects</a>
			<a class="nav-button" href="/resources">Resources</a>
			<div class="nav-button menu-btn">
				<a class="theme-toggle">
					<svg
						viewBox="0 0 24 24"
						fill="currentColor"
						stroke="currentColor"
						stroke-width="2"
					>
						<g
							transform="matrix(1, 0, 0, 1, -204.615997, -72.276001)"
							style="transform-origin: 204.616px 72.276px;"
						>
							<path
								d="M 227.616 84.276 C 227.616 90.351 222.692 95.276 216.616 95.276 C 210.541 95.276 205.616 90.351 205.616 84.276 C 205.616 78.201 210.541 73.276 216.616 73.276 C 222.692 73.276 227.616 78.201 227.616 84.276 Z"
								style="fill: none; stroke-width: 2px;"></path>
							<path
								d="M 216.617 78.276 C 219.93 78.276 222.617 80.962 222.617 84.276 C 222.617 87.59 219.93 90.276 216.617 90.276 Z M 216.616 95.276 C 222.691 95.276 227.616 90.351 227.616 84.276 C 227.616 78.201 222.691 73.276 216.616 73.276 Z"
								style="stroke-width: 0px; isolation: isolate;"
							></path>
							<path
								d="M 210.617 90.276 C 213.93 90.276 216.617 87.59 216.617 84.276 C 216.617 80.962 213.93 78.276 210.617 78.276"
								style="stroke-width: 0px; isolation: isolate; transform-box: fill-box; transform-origin: 50% 50%;"
								transform="matrix(-1, 0, 0, -1, 0.000008, 0.000004)"
							></path>
						</g>
					</svg>
				</a>
				<div class="theme-drawer menu">
					<ul>
						<li class="light">
							<svg
								viewBox="0 0 24 24"
								fill="currentColor"
								stroke="currentColor"
								stroke-width="2"
							>
								<g
									transform="matrix(1, 0, 0, 1, -150.186005, -76.000008)"
									style="transform-origin: 162.186px 88px;"
								>
									<path
										d="M 162.186 93.684 C 159.047 93.684 156.502 91.139 156.502 88 C 156.502 84.861 159.047 82.316 162.186 82.316 C 165.325 82.316 167.87 84.861 167.87 88 C 167.87 91.139 165.325 93.684 162.186 93.684 Z"
										fill-rule="nonzero"
										style="stroke-width: 0px"></path>
									<path
										d="M 153.701 79.515 L 156.381 82.195 L 153.701 79.515 Z"
										fill="#000000"
										fill-rule="nonzero"></path>
									<path
										d="M 150.186 88 L 153.975 88 L 150.186 88 Z"
										fill="#000000"
										fill-rule="nonzero"></path>
									<path
										d="M 153.701 96.486 L 156.38 93.807 L 153.701 96.486 Z"
										fill="#000000"
										fill-rule="nonzero"></path>
									<path
										d="M 162.186 100 L 162.186 96.211 L 162.186 100 Z"
										fill="#000000"
										fill-rule="nonzero"></path>
									<path
										d="M 170.671 96.486 L 167.992 93.807 L 170.671 96.486 Z"
										fill="#000000"
										fill-rule="nonzero"></path>
									<path
										d="M 174.186 88 L 170.397 88 L 174.186 88 Z"
										fill="#000000"
										fill-rule="nonzero"></path>
									<path
										d="M 170.671 79.514 L 167.993 82.194 L 170.671 79.514 Z"
										fill="#000000"
										fill-rule="nonzero"></path>
									<path
										d="M 162.186 76 L 162.186 79.789 L 162.186 76 Z"
										fill="#000000"
										fill-rule="nonzero"></path>
								</g>
							</svg><span>Light</span>
						</li>
						<li class="dark">
							<svg
								viewBox="0 0 24 24"
								fill="currentColor"
								stroke="currentColor"
								stroke-width="0"
							>
								<g
									transform="matrix(0.904167, 0, 0, 0.904167, -158.233398, -67.316719)"
								>
									<path
										d="M 194.96 92.81 C 188.466 92.81 183.157 87.557 183.157 81.03 C 183.157 78.616 183.915 76.344 185.148 74.452 C 179.318 75.966 175.005 81.265 175.005 87.557 C 175.005 94.987 181.025 100.996 188.466 100.996 C 194.77 100.996 200.077 96.69 201.549 90.823 C 199.653 92.099 197.424 92.81 194.96 92.81 Z"
									></path>
								</g>
							</svg><span>Dark</span>
						</li>
						<li class="system">
							<svg
								viewBox="0 0 24 24"
								fill="currentColor"
								stroke="currentColor"
								stroke-width="2"
							>
								<g
									transform="matrix(1, 0, 0, 1, -150.186005, -76.000008)"
									style="transform-origin: 162.186px 88px;"
								>
									<path
										d="M 162.186 82.316 C 165.325 82.316 167.87 84.861 167.87 88 C 167.87 88.789 167.709 89.541 167.418 90.224 C 163.858 89.907 160.255 86.36 160.444 82.627 C 160.723 82.468 161.387 82.316 162.186 82.316 Z"
										fill-rule="nonzero"
										style="stroke-width: 0px;"></path>
									<path
										d="M 174.186 88 L 170.397 88 L 174.186 88 Z"
										fill="#000000"
										fill-rule="nonzero"></path>
									<path
										d="M 170.671 79.514 L 167.993 82.194 L 170.671 79.514 Z"
										fill="#000000"
										fill-rule="nonzero"></path>
									<path
										d="M 162.186 76 L 162.186 79.789 L 162.186 76 Z"
										fill="#000000"
										fill-rule="nonzero"></path>
									<path
										d="M 167.316 93.472 C 161.444 93.472 156.763 88.881 156.763 82.98 C 156.763 80.797 158.242 77.711 159.357 76 C 154.086 77.369 150.186 82.16 150.186 87.849 C 150.186 94.567 155.629 100.001 162.357 100.001 C 168.057 100.001 172.856 96.107 174.187 90.802 C 172.472 91.956 169.544 93.472 167.316 93.472 Z"
										style="paint-order: fill; stroke-width: 0px;"
									></path>
								</g>
							</svg><span>System</span>
						</li>
					</ul>
				</div>
			</div>
			<div class="nav-button-underline"></div>
			<div class="nav-button-hover"></div>
		</div>
	</nav>
</header>

<style>
	header {
		@apply pointer-events-none sticky top-0 flex h-[calc(var(--nav-height)+var(--guide-gutter)*1.5)] items-start justify-center;
		transition: top ease-in-out 300ms;
		z-index: 1000 !important;
	}

	header::after {
		content: "";
		@apply pointer-events-none absolute left-0 top-0 w-full sm:h-[calc(var(--nav-height)+var(--guide-gutter)*1.5)] sm:opacity-100 md:h-full md:opacity-100;
	}

	header.scrolled {
		top: 0px !important;
	}

	nav {
		@apply pointer-events-auto m-[calc(var(--guide-gutter)/2)] mb-0 mt-[calc(var(--guide-gutter))] flex h-[var(--nav-height)] w-[calc(var(--full-w)+var(--guide-gutter)*2)] items-center rounded-lg pl-[calc(var(--guide-gutter)*1.25)] pr-[calc(var(--guide-gutter)*1)] shadow-2xl shadow-transparent sm:justify-center md:justify-between;

		border-color: transparent;
		border-width: 0px;
		border-style: solid;
		position: relative;
		z-index: 1002 !important;

		transition:
			border-radius ease-in-out 300ms,
			margin ease-out 200ms,
			padding ease-in-out 300ms,
			height 600ms,
			box-shadow ease-in-out 300ms,
			background-color 250ms,
			border-color 250ms,
			backdrop-filter 200ms ease-in-out;
	}

	header.scrolled nav {
		@apply mt-[calc(var(--guide-gutter)/2)];
	}

	nav::before {
		content: "";
		z-index: -1;
		transition: all 250ms ease-in-out;

		@apply absolute -left-[calc(var(--guide-gutter)*0.5)] -top-[calc(var(--guide-gutter)*0.5)] h-[calc(100%+(var(--guide-gutter)*1))] w-[calc(100%+(var(--guide-gutter)*2))] overflow-auto rounded-lg blur-md backdrop-blur-none;
	}

	header.scrolled nav::before {
		@apply left-0 top-0 h-full w-full blur-none sm:bg-transparent sm:shadow-transparent sm:backdrop-blur-none md:bg-[var(--header)] md:shadow-background/50 md:backdrop-blur-xl;
	}

	nav::after {
		@apply pointer-events-none absolute inset-0 rounded-[inherit] border border-transparent opacity-0 blur-md transition-opacity duration-300 ease-in-out;
		content: "";
		background: linear-gradient(
				180deg,
				oklch(var(--foreground) / 0.08) 0%,
				oklch(var(--foreground) / 0.03) 100%
			)
			border-box;
		mask:
			linear-gradient(#fff 0 0) padding-box,
			linear-gradient(#fff 0 0);
		mask-composite: exclude;
	}

	header.scrolled nav::after {
		@apply sm:opacity-0 md:opacity-100;
	}

	.header-logo {
		@apply z-50 inline-block w-auto fill-[oklch(var(--accent))] stroke-foreground/80 hover:fill-accent-foreground sm:h-8 md:h-7 md:hover:stroke-foreground;

		transition:
			height 300ms ease-in-out,
			opacity 300ms ease-in-out,
			fill 300ms ease-in-out,
			stroke 300ms ease-in-out,
			filter 300ms ease-in-out;
	}

	:root[data-theme="light"] .header-logo {
		@apply stroke-[30px];
	}

	:root[data-theme="dark"] .header-logo {
		@apply stroke-[25px];
	}

	header.scrolled .header-logo {
		@apply sm:opacity-0 sm:blur-md md:fill-[oklch(var(--accent))] md:stroke-foreground/80 md:opacity-100 md:blur-none md:hover:fill-accent-foreground md:hover:stroke-foreground;
	}

	.nav-items {
		@apply relative h-auto items-center gap-0 sm:hidden md:flex;
	}

	.nav-items .nav-button {
		@apply cursor-pointer font-mono uppercase tracking-wider text-foreground/60 transition-colors duration-300 ease-in-out hover:text-accent-foreground/80;
	}

	.nav-items .nav-button:has(.theme-toggle) {
		@apply p-0;
	}

	.nav-items .theme-toggle {
		@apply px-3 py-3 font-mono uppercase text-foreground/70;
	}

	.nav-items .theme-toggle svg {
		@apply h-[20px] w-[20px] scale-100 fill-foreground stroke-foreground opacity-60 transition-all duration-200 ease-in-out;
	}

	.nav-items .theme-toggle:hover svg {
		@apply fill-accent-foreground stroke-accent-foreground;
	}

	.nav-button {
		@apply inline-flex w-max place-items-center rounded-[var(--radius)] bg-transparent px-4 py-3 font-mono text-sm uppercase tracking-wider hover:bg-transparent focus:text-foreground focus:outline-none disabled:pointer-events-none disabled:opacity-50;
	}

	.nav-button.active {
		@apply !text-accent-foreground;
	}

	.nav-button-underline {
		@apply pointer-events-none absolute left-0 top-0 h-full border-b border-accent-foreground bg-transparent opacity-0 transition-all duration-200 ease-in-out;
	}

	.nav-button-hover {
		@apply pointer-events-none absolute top-0 h-full rounded-lg bg-accent-foreground/5 opacity-0;
	}

	.theme-drawer {
		@apply pointer-events-none absolute right-0 top-[calc(75%+0.25rem)] z-10 flex w-auto origin-top scale-[0.98] select-none flex-col rounded border border-foreground/5 opacity-0 blur-md transition-all duration-200 ease-in-out;
	}

	.theme-drawer::before {
		content: "";
		background: radial-gradient(
			200px circle at var(--x) var(--y),
			oklch(var(--accent-background)) -500%,
			var(--header) 100%
		);

		z-index: -1;
		@apply absolute h-full w-full rounded shadow-lg shadow-black/10 backdrop-blur-xl transition-all duration-300 ease-in-out;
	}

	.theme-drawer::after {
		content: "";
		background: radial-gradient(
				100px circle at var(--x) var(--y),
				oklch(var(--accent)) 0%,
				oklch(var(--foreground) / 0) 100%
			)
			border-box;
		mask:
			linear-gradient(#fff 0 0) padding-box,
			linear-gradient(#fff 0 0);
		mask-composite: exclude;

		@apply pointer-events-none absolute inset-0 z-20 w-full rounded-lg border border-transparent opacity-50 transition-opacity duration-300 ease-in-out;
	}

	.theme-drawer:hover::after {
		@apply opacity-100;
	}

	.theme-drawer ul {
		@apply right-0 grid w-full grid-cols-[repeat(3,_7.5rem)] place-content-center place-items-center gap-1 p-1.5;
	}

	.theme-drawer li {
		@apply inline-flex w-full cursor-pointer flex-row place-content-center place-items-center gap-2.5 rounded-md p-2.5 transition-all duration-300 ease-in-out hover:bg-accent-foreground/10;
	}

	.theme-drawer li * {
		@apply fill-foreground stroke-foreground text-xs tracking-widest text-foreground/70 opacity-80;
	}

	.theme-drawer li.active {
		@apply bg-accent-foreground/10;
	}

	.theme-drawer li.active * {
		@apply fill-accent-foreground text-accent-foreground opacity-100;
	}

	.theme-drawer li svg {
		@apply h-[14px] w-[14px];
	}

	.theme-drawer.open {
		@apply pointer-events-auto top-[calc(100%+0.25rem)] scale-100 cursor-default opacity-100 blur-none;
	}

	.menu-btn::before {
		content: "";
		background: radial-gradient(
			circle at 50% 100%,
			oklch(var(--accent-foreground)) -300%,
			transparent 100%
		);
		@apply pointer-events-none absolute left-0 top-0 h-full w-full rounded-lg opacity-0 transition-opacity duration-200 ease-in-out;
	}

	.menu-btn:has(.menu.open)::before {
		@apply opacity-100;
	}

	.menu-btn:has(.menu.open) > a > svg {
		@apply rotate-90 scale-90 fill-accent-foreground stroke-accent-foreground opacity-100;
	}

	.menu-btn::after {
		content: "";
		background: linear-gradient(
				0deg,
				oklch(var(--accent-foreground)) -100%,
				oklch(var(--foreground) / 0.05) 100%
			)
			border-box;
		mask:
			linear-gradient(#fff 0 0) padding-box,
			linear-gradient(#fff 0 0);
		mask-composite: exclude;

		@apply pointer-events-none absolute inset-0 z-20 w-full rounded-lg border border-transparent opacity-0 transition-opacity duration-200 ease-in-out;
	}

	.menu-btn:has(.menu.open)::after {
		@apply opacity-100;
	}

	.menu-btn:hover:has(.menu.open) ~ .nav-button-hover {
		@apply !bg-transparent;
	}

	.menu-btn:has(.menu.open:hover) ~ .nav-button-hover {
		@apply !opacity-0;
	}

	.dark-icon,
	.light-icon {
		@apply hidden;
	}

	:root[data-theme="light"] .light-icon {
		@apply inline-block;
	}

	:root[data-theme="dark"] .dark-icon {
		@apply inline-block;
	}
</style>

<script data-astro-rerun>
	document.addEventListener("click", (e) => {
		if (
			!document.querySelector(".menu-btn").contains(e.target) &&
			document.querySelector(".menu-btn .menu").classList.contains("open")
		) {
			document.querySelector(".menu").classList.remove("open");
		}
	});
</script>

<script>
	function openThemeDrawer() {
		const themeToggle = document.querySelector(
			".theme-toggle",
		) as HTMLElement;
		const themeDrawer = document.querySelector(
			".theme-drawer",
		) as HTMLElement;

		themeToggle.addEventListener("click", () => {
			if (themeDrawer.classList.contains("open")) {
				themeDrawer.classList.remove("open");
			} else {
				themeDrawer.classList.add("open");
			}
		});
	}

	function setActiveLink() {
		const underline = document.querySelector(
			".nav-button-underline",
		) as HTMLElement;
		const hover = document.querySelector(
			".nav-button-hover",
		) as HTMLElement;

		const currentPath = "/" + window.location.pathname.split("/")[1];
		// "/projects"

		// Remove active class from all links
		document.querySelectorAll("nav a").forEach((btn) => {
			btn.classList.remove("active");
			if (btn.getAttribute("href") === currentPath) {
				btn.classList.add("active");
			}
		});

		const activeButton = document.querySelector(
			".nav-button.active",
		) as HTMLElement;

		if (activeButton) {
			setTimeout(() => {
				const activeRect = activeButton.getBoundingClientRect();

				underline.style.width = `${activeRect.width - 32}px`;
				underline.style.left = `${activeButton.offsetLeft + 16}px`;
				setTimeout(() => {
					underline.style.opacity = "0.75";
				}, 150);
			}, 10);
		} else {
			underline.style.opacity = "0";
		}

		const navItems = document.querySelector(".nav-items") as HTMLElement;
		navItems.addEventListener("mouseenter", () => {
			hover.style.transition =
				"opacity 0.2s ease, background-color 0.2 ease-in-out";
			setTimeout(() => {
				hover.style.transition =
					"transform 0.2s ease, width 0.2s ease, opacity 0.2s ease, background-color 0.2s ease-in-out";
			}, 100);
		});
		navItems.addEventListener("mouseleave", () => {
			hover.style.transition = "opacity 0.2s ease";
		});

		document.querySelectorAll(".nav-button").forEach((button) => {
			const btn = button as HTMLElement;
			btn.addEventListener("mouseenter", () => {
				const btnRect = btn.getBoundingClientRect();
				const parentRect = btn.parentElement!.getBoundingClientRect();

				hover.style.width = `${btnRect.width}px`;
				hover.style.transform = `translateX(${btnRect.left - parentRect.left}px)`;

				requestAnimationFrame(() => {
					hover.style.opacity = "1";
					hover.style.transform = `translateX(${btnRect.left - parentRect.left}px)`;
				});
			});

			btn.addEventListener("mouseleave", () => {
				hover.style.opacity = "0";
			});
		});
	}
	document.addEventListener("astro:after-swap", openThemeDrawer);
	document.addEventListener("astro:page-load", openThemeDrawer);

	document.addEventListener("astro:after-swap", setActiveLink);
	document.addEventListener("astro:page-load", setActiveLink);
</script>
