---
import ThemeIcon from "./ThemeIcon.astro";
---

<!-- <nav
	id="nav-footer"
	class="nav-footer fixed sm:bottom-0 md:-bottom-20 sm:flex items-center h-20 w-full z-50 p-[calc(var(--guide-gutter)/2)]"
> -->
<nav
	id="nav-footer"
	class="fixed sm:bottom-0 md:-bottom-[calc(5rem+var(--guide-gutter))] z-50 w-[calc(100%-var(--guide-gutter))] ml-[calc(var(--guide-gutter)/2)] mb-[calc(var(--guide-gutter)/2)] h-20 backdrop-blur-2xl shadow-2xl shadow-background"
>
	<div
		class="nav-footer-menu relative grid grid-cols-5 bg-background/50 rounded-[var(--radius)] px-0.5 z-50 h-full w-full"
	>
		<a href="/">
			<svg
				width="24"
				height="24"
				viewBox="0 0 24 24"
				fill="none"
				stroke="currentColor"
				stroke-width="1.5"
				stroke-linecap="round"
				stroke-linejoin="round"
			>
				<path
					d="M 15 22 L 15 14 C 15 13.447 14.552 13 14 13 L 10 13 C 9.448 13 9 13.447 9 14 L 9 22 M 3 10.421 C 3 9.801 3.259 9.213 3.709 8.813 L 10.709 2.498 C 11.454 1.835 12.546 1.835 13.291 2.498 L 20.291 8.813 C 20.741 9.213 21 9.801 21 10.421 L 21 19.895 C 21 21.057 20.105 22 19 22 L 5 22 C 3.895 22 3 21.057 3 19.895 L 3 10.421 Z"
				></path>
			</svg>

			<span>Home</span>
		</a>
		<a href="/blog"
			><svg
				xmlns="http://www.w3.org/2000/svg"
				width="24"
				height="24"
				viewBox="0 0 24 24"
				fill="none"
				stroke="currentColor"
				stroke-width="1.5"
				stroke-linecap="round"
				stroke-linejoin="round"
			>
				<path
					d="M 4 22 L 20 22 C 21.104569499661586 22 22 21.104569499661586 22 20 L 22 4 C 22 2.8954305003384135 21.104569499661586 2 20 2 L 8 2 C 6.8954305003384135 2 6 2.8954305003384135 6 4 L 6 20 C 6 21.104569499661586 5.1045694996615865 22 4 22 Z M 4 22 C 2.8954305003384135 22 2 21.104569499661586 2 20 L 2 11 C 2 9.9 2.9 9 4 9 L 6 9 M 18 14 L 10 14 M 15 18 L 10 18 M 10 6 L 18 6 L 18 10 L 10 10 L 10 6 Z"
				></path>
			</svg>
			<span>Blog</span>
		</a>
		<a href="/projects"
			><svg
				xmlns="http://www.w3.org/2000/svg"
				width="24"
				height="24"
				viewBox="0 0 24 24"
				fill="none"
				stroke="currentColor"
				stroke-width="1.5"
				stroke-linecap="round"
				stroke-linejoin="round"
			>
				<path
					d="M 13 7 L 8.7 2.7 C 7.76 1.764 6.24 1.764 5.3 2.7 L 2.7 5.3 C 1.764 6.24 1.764 7.76 2.7 8.7 L 7 13 M 8 6 L 10 4 M 18 16 L 20 14 M 17 11 L 21.3 15.3 C 22.24 16.24 22.24 17.76 21.3 18.7 L 18.7 21.3 C 17.76 22.24 16.24 22.24 15.3 21.3 L 11 17 M 21.174 6.812 C 22.709 5.2780000000000005 22.007 2.658 19.911 2.096 C 18.938 1.835 17.9 2.113 17.188 2.825 L 3.842 16.174 C 3.61 16.406 3.438 16.691 3.342 17.004 L 2.021 21.356 C 1.911 21.725 2.241 22.075 2.616 21.986 C 2.625 21.983 2.635 21.981 2.644 21.978 L 6.997 20.658 C 7.31 20.563 7.595 20.392 7.827 20.161 L 21.174 6.812 Z M 15 5 L 19 9"
				></path>
			</svg>
			<span>Projects</span></a
		>
		<a href="/resources"
			><svg
				xmlns="http://www.w3.org/2000/svg"
				width="24"
				height="24"
				viewBox="0 0 24 24"
				fill="none"
				stroke="currentColor"
				stroke-width="1.5"
				stroke-linecap="round"
				stroke-linejoin="round"
			>
				<path
					d="M 10 2 L 10 10 L 13 7 L 16 10 L 16 2 M 4 19.5 L 4 4.5 C 4 3.119288125423017 5.119288125423017 2.0000000000000004 6.5 2 L 19 2 C 19.552284749830793 2 20 2.4477152501692068 20 3 L 20 21 C 20 21.552284749830793 19.552284749830793 22 19 22 L 6.5 22 C 4.575499102701247 22 3.3726860418895273 19.916666666666668 4.334936490538903 18.25 C 4.781518477924108 17.476497308103742 5.606836025229591 17 6.5 17 L 20 17"
				></path>
			</svg>
			<span>Resources</span></a
		>
		<a href="#">
			<svg
				width="24"
				height="24"
				viewBox="0 0 24 24"
				fill="none"
				stroke="currentColor"
				stroke-width="1.5"
				stroke-linecap="round"
				stroke-linejoin="round"
			>
				<path
					d="M 12 1.987 C 8.151 5.836 9.912 12.407 15.17 13.816 C 17.61 14.469 20.213 13.772 21.999 11.986 C 21.999 19.683 13.667 24.494 7 20.645 C 0.334 16.797 0.334 7.175 7 3.326 C 8.52 2.449 10.245 1.987 12 1.987 Z"
				></path>
			</svg>
			<span>Theme</span></a
		>
	</div>
</nav>
<!-- </nav> -->

<style>
	#nav-footer {
		view-transition-name: navfooter;
		transition: ease-in-out bottom 200ms;
		z-index: 90 !important;
		overflow: hidden !important;

		--tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
			0 8px 10px -6px rgb(0 0 0 / 0.1) !important;
		--tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color),
			0 8px 10px -6px var(--tw-shadow-color) !important;

		--tw-shadow-color: hsl(var(--background)) !important;
		--tw-shadow: var(--tw-shadow-colored) !important;

		box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
			var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
	}

	.nav-footer-menu::before {
		content: "";
		pointer-events: none;
		position: absolute;
		inset: 0;
		border-radius: inherit;
		border: 1px solid transparent;
		background: linear-gradient(
				0deg,
				transparent,
				hsl(var(--foreground) / 0.075)
			)
			border-box;
		mask:
			linear-gradient(#fff 0 0) padding-box,
			linear-gradient(#fff 0 0);
		mask-composite: exclude;
		opacity: 1;
		transition: opacity 300ms ease-in-out;
	}

	.nav-footer-menu > a {
		@apply inline-flex
        flex-col
        gap-2.5
        my-1
        mx-0.5
        justify-center
        place-items-center
        font-normal
        text-foreground/70
        hover:text-foreground
        active:text-foreground
        text-[0.75rem]
        rounded-md
        hover:bg-foreground/10
        focus:bg-foreground/10
        active:bg-foreground/10
        focus:text-foreground
        focus:font-semibold
        focus:outline-none
        disabled:pointer-events-none
        disabled:opacity-50
        transition-colors
        duration-150;
	}

	.nav-footer-menu span {
		@apply text-xs font-mono uppercase tracking-wider inline-block leading-[0.9] -mb-[2px];
	}

	.nav-footer-menu svg {
		@apply h-6;
	}
</style>
