---
interface Props {
	text: string | undefined;
	direction: string;
	link: string | undefined;
}

const { text, direction, link } = Astro.props;
---

<a href={link ?? "#"} class=`navigation-button ${text}`>
	<span>{text}</span>
</a>

<style is:global></style>
