---
import { Icon } from "astro-icon/components";

const { class: className = "" } = Astro.props;
---

<div class=`${className}`>
	<Icon class="left-arrow" name="ui/left-arrow" /><Icon
		class="right-arrow"
		name="ui/right-arrow"
	/>
</div>

<style is:global>
	.arrow-left {
		.left-arrow {
			@apply block;
		}
		.right-arrow {
			@apply hidden;
		}
	}

	.arrow-right {
		.right-arrow {
			@apply block;
		}
		.left-arrow {
			@apply hidden;
		}
	}
</style>
