---
const { class: className = "" } = Astro.props;
---

<div class=`theme-drawer-wrapper ${className} isolate`>
	<div
		class=`theme-drawer menu menu-bg-hover backdrop-blur-xl rounded-base border-border-background pointer-events-none z-10 flex w-auto origin-top flex-col-reverse border transition-all duration-300 ease-in-out select-none hover:after:opacity-100 in-[div:has(.open)]:pointer-events-auto in-[div:has(.open)]:opacity-100`
	>
		<ul class="extra-themes flex">
			<ul
				class="light-themes *:[.active]:border-accent-foreground/50 *:[.active]:bg-accent-foreground/5 grid w-full grid-cols-1 *:inline-flex *:cursor-pointer *:flex-col *:place-content-center *:place-items-center *:gap-2.5 *:border *:border-transparent *:p-2.5"
			>
				<li
					class="golden bg-[oklch(88.5%_0.0592_94.12/0.6)] text-[oklch(40%_0.1197_94.12)] *:ml-0.5 *:w-full *:text-center *:text-xs *:tracking-wide"
				>
					<span>Golden</span>
				</li>
				<li
					class="spring bg-[oklch(88.2%_0.0595_130.12/0.6)] text-[oklch(40%_0.1129_160.83)] *:ml-0.5 *:w-full *:text-center *:text-xs *:tracking-wide"
				>
					<span>Spring</span>
				</li>
			</ul>
			<ul
				class="dark-themes *:[.active]:border-accent-foreground/50 *:[.active]:bg-accent-foreground/5 grid w-full grid-cols-1 *:inline-flex *:cursor-pointer *:flex-col *:place-content-center *:place-items-center *:gap-2.5 *:border *:border-transparent *:p-2.5"
			>
				<li
					class="source bg-[oklch(15.73%_0.074_142.83/0.6)] text-[oklch(86.44%_0.2985_142.83)] *:ml-0.5 *:w-full *:text-center *:text-xs *:tracking-wide"
				>
					<span>Source</span>
				</li>
				<li
					class="carbon bg-[oklch(37.2%_0_197.88/0.6)] text-[oklch(85.73%_0_197.88)] *:ml-0.5 *:w-full *:text-center *:text-xs *:tracking-wide"
				>
					<span>Carbon</span>
				</li>
			</ul>
		</ul>
		<ul
			class="standard-themes **:fill-foreground **:stroke-foreground **:text-foreground/70 *:[.active]:border-accent-foreground/50 *:[.active]:bg-accent-foreground/5 **:in-[.active]:fill-accent-foreground **:in-[.active]:text-accent-foreground right-0 grid grid-cols-[repeat(3,1fr)] *:inline-flex *:cursor-pointer *:flex-col *:place-content-center *:place-items-center *:gap-2.5 *:rounded-xs *:border *:border-transparent *:p-2.5 *:transition-all *:duration-300 *:ease-in-out **:in-[.active]:opacity-100 *:sm:p-4 *:md:p-3"
		>
			<li
				class="light *:ml-0.5 *:w-full *:text-center *:text-xs *:tracking-wide"
			>
				<svg
					viewBox="0 0 24 24"
					fill="currentColor"
					stroke="currentColor"
					stroke-width="2"
					class="h-4"
				>
					<g
						transform="matrix(1, 0, 0, 1, -150.186005, -76.000008)"
						style="transform-origin: 162.186px 88px;"
					>
						<path
							d="M 162.186 93.684 C 159.047 93.684 156.502 91.139 156.502 88 C 156.502 84.861 159.047 82.316 162.186 82.316 C 165.325 82.316 167.87 84.861 167.87 88 C 167.87 91.139 165.325 93.684 162.186 93.684 Z"
							fill-rule="nonzero"
							style="stroke-width: 0px"></path>
						<path
							d="M 153.701 79.515 L 156.381 82.195 L 153.701 79.515 Z"
							fill="#000000"
							fill-rule="nonzero"></path>
						<path
							d="M 150.186 88 L 153.975 88 L 150.186 88 Z"
							fill="#000000"
							fill-rule="nonzero"></path>
						<path
							d="M 153.701 96.486 L 156.38 93.807 L 153.701 96.486 Z"
							fill="#000000"
							fill-rule="nonzero"></path>
						<path
							d="M 162.186 100 L 162.186 96.211 L 162.186 100 Z"
							fill="#000000"
							fill-rule="nonzero"></path>
						<path
							d="M 170.671 96.486 L 167.992 93.807 L 170.671 96.486 Z"
							fill="#000000"
							fill-rule="nonzero"></path>
						<path
							d="M 174.186 88 L 170.397 88 L 174.186 88 Z"
							fill="#000000"
							fill-rule="nonzero"></path>
						<path
							d="M 170.671 79.514 L 167.993 82.194 L 170.671 79.514 Z"
							fill="#000000"
							fill-rule="nonzero"></path>
						<path
							d="M 162.186 76 L 162.186 79.789 L 162.186 76 Z"
							fill="#000000"
							fill-rule="nonzero"></path>
					</g>
				</svg><span>Light</span>
			</li>
			<li
				class="dark *:ml-0.5 *:w-full *:text-center *:text-xs *:tracking-wide"
			>
				<svg
					viewBox="0 0 24 24"
					fill="currentColor"
					stroke="currentColor"
					stroke-width="0"
					class="h-4"
				>
					<g
						transform="matrix(0.904167, 0, 0, 0.904167, -158.233398, -67.316719)"
					>
						<path
							d="M 194.96 92.81 C 188.466 92.81 183.157 87.557 183.157 81.03 C 183.157 78.616 183.915 76.344 185.148 74.452 C 179.318 75.966 175.005 81.265 175.005 87.557 C 175.005 94.987 181.025 100.996 188.466 100.996 C 194.77 100.996 200.077 96.69 201.549 90.823 C 199.653 92.099 197.424 92.81 194.96 92.81 Z"
						></path>
					</g>
				</svg><span>Dark</span>
			</li>
			<li
				class="system *:ml-0.5 *:w-full *:text-center *:text-xs *:tracking-wide"
			>
				<svg
					viewBox="0 0 24 24"
					fill="currentColor"
					stroke="currentColor"
					stroke-width="2"
					class="h-4"
				>
					<g
						transform="matrix(1, 0, 0, 1, -150.186005, -76.000008)"
						style="transform-origin: 162.186px 88px;"
					>
						<path
							d="M 162.186 82.316 C 165.325 82.316 167.87 84.861 167.87 88 C 167.87 88.789 167.709 89.541 167.418 90.224 C 163.858 89.907 160.255 86.36 160.444 82.627 C 160.723 82.468 161.387 82.316 162.186 82.316 Z"
							fill-rule="nonzero"
							style="stroke-width: 0px;"></path>
						<path
							d="M 174.186 88 L 170.397 88 L 174.186 88 Z"
							fill="#000000"
							fill-rule="nonzero"></path>
						<path
							d="M 170.671 79.514 L 167.993 82.194 L 170.671 79.514 Z"
							fill="#000000"
							fill-rule="nonzero"></path>
						<path
							d="M 162.186 76 L 162.186 79.789 L 162.186 76 Z"
							fill="#000000"
							fill-rule="nonzero"></path>
						<path
							d="M 167.316 93.472 C 161.444 93.472 156.763 88.881 156.763 82.98 C 156.763 80.797 158.242 77.711 159.357 76 C 154.086 77.369 150.186 82.16 150.186 87.849 C 150.186 94.567 155.629 100.001 162.357 100.001 C 168.057 100.001 172.856 96.107 174.187 90.802 C 172.472 91.956 169.544 93.472 167.316 93.472 Z"
							style="paint-order: fill; stroke-width: 0px;"
						></path>
					</g>
				</svg><span>System</span>
			</li>
		</ul>
	</div>
</div>

<style is:global>
	@reference "@/styles/global.css";

	/* .extra-themes li { */
	/* 	@apply w-full hover:opacity-100 sm:opacity-100 md:opacity-80; */
	/* } */
</style>
