<div class="theme-drawer menu">
	<ul class="extra-themes">
		<ul class="light-themes">
			<li class="gold"><span>Gold</span></li>
			<li class="fresh"><span>Fresh</span></li>
		</ul>
		<ul class="dark-themes">
			<li class="neo"><span>Neo</span></li>
			<li class="quasar"><span>Quasar</span></li>
		</ul>
	</ul>
	<ul class="standard-themes">
		<li class="light">
			<svg
				viewBox="0 0 24 24"
				fill="currentColor"
				stroke="currentColor"
				stroke-width="2"
			>
				<g
					transform="matrix(1, 0, 0, 1, -150.186005, -76.000008)"
					style="transform-origin: 162.186px 88px;"
				>
					<path
						d="M 162.186 93.684 C 159.047 93.684 156.502 91.139 156.502 88 C 156.502 84.861 159.047 82.316 162.186 82.316 C 165.325 82.316 167.87 84.861 167.87 88 C 167.87 91.139 165.325 93.684 162.186 93.684 Z"
						fill-rule="nonzero"
						style="stroke-width: 0px"></path>
					<path
						d="M 153.701 79.515 L 156.381 82.195 L 153.701 79.515 Z"
						fill="#000000"
						fill-rule="nonzero"></path>
					<path
						d="M 150.186 88 L 153.975 88 L 150.186 88 Z"
						fill="#000000"
						fill-rule="nonzero"></path>
					<path
						d="M 153.701 96.486 L 156.38 93.807 L 153.701 96.486 Z"
						fill="#000000"
						fill-rule="nonzero"></path>
					<path
						d="M 162.186 100 L 162.186 96.211 L 162.186 100 Z"
						fill="#000000"
						fill-rule="nonzero"></path>
					<path
						d="M 170.671 96.486 L 167.992 93.807 L 170.671 96.486 Z"
						fill="#000000"
						fill-rule="nonzero"></path>
					<path
						d="M 174.186 88 L 170.397 88 L 174.186 88 Z"
						fill="#000000"
						fill-rule="nonzero"></path>
					<path
						d="M 170.671 79.514 L 167.993 82.194 L 170.671 79.514 Z"
						fill="#000000"
						fill-rule="nonzero"></path>
					<path
						d="M 162.186 76 L 162.186 79.789 L 162.186 76 Z"
						fill="#000000"
						fill-rule="nonzero"></path>
				</g>
			</svg><span>Light</span>
		</li>
		<li class="dark">
			<svg
				viewBox="0 0 24 24"
				fill="currentColor"
				stroke="currentColor"
				stroke-width="0"
			>
				<g
					transform="matrix(0.904167, 0, 0, 0.904167, -158.233398, -67.316719)"
				>
					<path
						d="M 194.96 92.81 C 188.466 92.81 183.157 87.557 183.157 81.03 C 183.157 78.616 183.915 76.344 185.148 74.452 C 179.318 75.966 175.005 81.265 175.005 87.557 C 175.005 94.987 181.025 100.996 188.466 100.996 C 194.77 100.996 200.077 96.69 201.549 90.823 C 199.653 92.099 197.424 92.81 194.96 92.81 Z"
					></path>
				</g>
			</svg><span>Dark</span>
		</li>
		<li class="system">
			<svg
				viewBox="0 0 24 24"
				fill="currentColor"
				stroke="currentColor"
				stroke-width="2"
			>
				<g
					transform="matrix(1, 0, 0, 1, -150.186005, -76.000008)"
					style="transform-origin: 162.186px 88px;"
				>
					<path
						d="M 162.186 82.316 C 165.325 82.316 167.87 84.861 167.87 88 C 167.87 88.789 167.709 89.541 167.418 90.224 C 163.858 89.907 160.255 86.36 160.444 82.627 C 160.723 82.468 161.387 82.316 162.186 82.316 Z"
						fill-rule="nonzero"
						style="stroke-width: 0px;"></path>
					<path
						d="M 174.186 88 L 170.397 88 L 174.186 88 Z"
						fill="#000000"
						fill-rule="nonzero"></path>
					<path
						d="M 170.671 79.514 L 167.993 82.194 L 170.671 79.514 Z"
						fill="#000000"
						fill-rule="nonzero"></path>
					<path
						d="M 162.186 76 L 162.186 79.789 L 162.186 76 Z"
						fill="#000000"
						fill-rule="nonzero"></path>
					<path
						d="M 167.316 93.472 C 161.444 93.472 156.763 88.881 156.763 82.98 C 156.763 80.797 158.242 77.711 159.357 76 C 154.086 77.369 150.186 82.16 150.186 87.849 C 150.186 94.567 155.629 100.001 162.357 100.001 C 168.057 100.001 172.856 96.107 174.187 90.802 C 172.472 91.956 169.544 93.472 167.316 93.472 Z"
						style="paint-order: fill; stroke-width: 0px;"></path>
				</g>
			</svg><span>System</span>
		</li>
	</ul>
</div>

<style is:global>
	.theme-drawer {
		@apply pointer-events-none absolute z-10 flex w-auto origin-top scale-[0.98] select-none flex-col-reverse rounded border border-foreground/5 opacity-0 blur-md transition-all duration-300 ease-in-out;
	}

	.theme-drawer::before {
		content: "";
		@apply absolute z-[-1] h-full w-full rounded bg-background-midpoint shadow-lg shadow-black/10 backdrop-blur-xl transition-all duration-300 ease-in-out;
	}

	.theme-drawer::after {
		content: "";
		background: radial-gradient(
				100px circle at var(--x) var(--y),
				oklch(var(--accent)) 0%,
				oklch(var(--foreground) / 0) 100%
			)
			border-box;
		mask:
			linear-gradient(#fff 0 0) padding-box,
			linear-gradient(#fff 0 0);
		mask-composite: exclude;

		@apply pointer-events-none absolute inset-0 z-10 w-full rounded-lg border border-transparent opacity-50 transition-opacity duration-300 ease-in-out;
	}

	.theme-drawer:hover::after {
		@apply opacity-100;
	}

	.theme-drawer.open {
		@apply pointer-events-auto scale-100 opacity-100 blur-none;
	}

	.theme-drawer li {
		@apply inline-flex cursor-pointer flex-col place-content-center place-items-center gap-2.5 rounded-md border border-transparent p-2.5;
	}

	.theme-drawer .standard-themes li {
		@apply sm:p-4 md:p-3;
	}

	.theme-drawer .standard-themes {
		@apply right-0 grid grid-cols-[repeat(3,_1fr)] gap-1 p-1;
	}

	.theme-drawer li * {
		@apply ml-0.5 w-full text-center text-xs tracking-widest;
	}

	.theme-drawer .standard-themes li * {
		@apply fill-foreground stroke-foreground text-foreground/70;
	}

	.theme-drawer li.active {
		@apply border-accent-foreground/50 bg-accent-foreground/5;
	}

	.theme-drawer .standard-themes li.active * {
		@apply fill-accent-foreground text-accent-foreground opacity-100;
	}

	.theme-drawer li svg {
		@apply h-4 w-4;
	}

	.extra-themes {
		@apply flex gap-1 p-1;
	}

	.extra-themes ul {
		@apply grid w-full grid-cols-1 gap-1;
	}

	.extra-themes li {
		@apply w-full !transition-opacity duration-300 ease-in-out hover:opacity-100 sm:opacity-100 md:opacity-80;
	}

	.gold {
		@apply bg-[oklch(98.5%_0.0592_94.12)] text-[oklch(50.56%_0.1197_94.12)];
	}

	.fresh {
		@apply bg-[oklch(94.2%_0.0695_130.12)] text-[oklch(53.79%_0.0529_160.83)];
	}

	.neo {
		@apply bg-[oklch(15.73%_0.074_142.83)] text-[oklch(86.44%_0.2985_142.83)];
	}

	.quasar {
		@apply bg-[oklch(22.2%_0.1941_197.88)] text-[oklch(86.73%_0.1443_197.88)];
	}
</style>
